USE [INVENTARIO_DEM_LA_HOLANDESA]
GO
/****** Object:  StoredProcedure [dbo].[SP_PROC_UBIC_ORD_PREP]    Script Date: 18/02/2024 20:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_PROC_UBIC_ORD_PREP](
	@AI_CODIGO_SUBEMPRESA INT,
	@AI_CODIGO_BODEGA INT,
	@AI_CODIGO_PRODUCTO INT, 
	@AI_CODIGO_UBICACION INT,
	@AI_ES_NIVEL INT,
	@AI_CODIGO_ORDEN_PREP INT,
	@AI_CODIGO_USUARIO_PROC INT
)
AS
BEGIN
 /*
INSERT INTO [dbo].[SI_LOGS](METODO_LOG, FECHA_LOG, FECHAFIN_LOG, PARAMETROS_LOG, MENSAJE_LOG)
	VALUES ('[SP_PROC_UBIC_ORD_PREP]', GETDATE(),GETDATE(), CONCAT('@AI_CODIGO_SUBEMPRESA ',@AI_CODIGO_SUBEMPRESA,
															' || @AI_CODIGO_BODEGA ', @AI_CODIGO_BODEGA,
															' || @AI_CODIGO_PRODUCTO ', @AI_CODIGO_PRODUCTO,   
															' || @AI_CODIGO_UBICACION ', @AI_CODIGO_UBICACION,  
															' || @AI_ES_NIVEL ',@AI_ES_NIVEL,		  
															' || @AI_CODIGO_ORDEN_PREP ',@AI_CODIGO_ORDEN_PREP,		  
															' || @AI_CODIGO_USUARIO ', @AI_CODIGO_USUARIO_PROC), '' )
 
 */
------------------------------------------------------------------------------------------------------ 
 --		Archivo:         SP_PROC_UBIC_ORD_PREP.sql 
 --  	Nombre Logico:   SP_PROC_UBIC_ORD_PREP
 --  	Cliente:         NUO
 --  	Copyright:       (c) NUO Technology - http://www.innuovation.com/ - all rights reserved.
 ------------------------------------------------------------------------------------------------------ 
 --                                 Importante                                   
 -- 	este programa es parte de los paquetes tecnologicos propiedad de nuo.        
 -- 	su uso no autorizado queda expresamente prohibido asi como cualquier        
 -- 	alteracion  o  agregado  hecho  por  alguno de usuarios sin el debido        
 -- 	consentimiento por escrito de la presidencia ejecutiva de nuo o de su        
 -- 	representante.                                                               
 ------------------------------------------------------------------------------------------------------- 
 --                     			Proposito                                                
 -- 	Procesa o Rerpocesa las ubicaciones comprometidas en un las ordenes de preparación y si se envía
 --     solo la orden reprocesa toda la orden respetando lo que ya tiene hecho picking 
 --                                                                              
 ------------------------------------------------------------------------------------------------------- 
 --                              	Modificaciones                                  
 ------------------------------------------------------------------------------------------------------ 
 --  	fecha         	version       	autor                  	            razon                    
 ------------------------------------------------------------------------------------------------------ 
 --  16/09/2020    		1.0.0.0       	Victor Espinoza de los Monteros		Creación Inicial          
 ------------------------------------------------------------------------------------------------------ 
 


/*
SELECT DOP.* FROM [WM_ORDEN_PREPARACION] OP
INNER JOIN [WM_DETALLE_ORD_PREP] DOP ON DOP.CODIGO_ORP = OP.CODIGO_ORP
												AND OP.CODIGO_EOP BETWEEN 1 AND 4
												AND DOP.ESTA_ACTIVO_DOP = 1
												--AND ISNULL(COD_UBIC_ORG_DOP,0) = 0 
		WHERE OP.CODIGO_SBE = 2
		AND OP.CODIGO_BDG = 3
		AND OP.ORDEN_ORP =  '694434'--'694441'
	 
		AND TEXTO_UBIC_ORG_DOP is not null --= '18-03-01'

*/
 --select GETDATE(), 'ini55';
 
 /*
DECLARE 
@AI_CODIGO_SUBEMPRESA INT = 2,
@AI_CODIGO_BODEGA INT = 3,
@AI_CODIGO_PRODUCTO INT =  0,
@AI_CODIGO_UBICACION INT = 0,
@AI_ES_NIVEL INT = 0,
@AI_CODIGO_ORDEN_PREP INT = 27,
@AI_CODIGO_USUARIO_PROC INT = 0;*/
 

 ---AUDITORIA

	DECLARE @in_fechaInicio DATETIME = null,
	@in_fechaFin DATETIME = null,
	@manejaAuditoria bit, 
	@serverName nvarchar(50) = null,
	@sentencia nvarchar(500)= null,
	@filasafectadas nvarchar(50) = null
	set @manejaAuditoria = (select top 1 [MANEJA_AUDITORIA]   from SI_BODEGA where  [CODIGO_BDG]= @AI_CODIGO_BODEGA )
			
			
	set @sentencia = 'SP_PROC_UBIC_ORD_PREP ''' + cast( isnull(@AI_CODIGO_SUBEMPRESA,'') as varchar(50)) + ''',''' +   cast( isnull(@AI_CODIGO_BODEGA,'null') as varchar(50)) 
	+ ''',''' +   cast( isnull(@AI_CODIGO_PRODUCTO,'null') as varchar(50))  + ''',''' +   cast( isnull(@AI_CODIGO_UBICACION,'null') as varchar(50)) + 
	''',''' +   cast( isnull(@AI_ES_NIVEL,'null') as varchar(50)) + ''',''' +   cast( isnull(@AI_CODIGO_ORDEN_PREP,'null') as varchar(50)) + ''',''' +   cast( isnull(@AI_CODIGO_USUARIO_PROC,'null') as varchar(50)) +  ''''

	Set @in_fechaInicio = GETDATE()
	
	BEGIN TRY
 ---FIN AUDITORIA

DECLARE @LI_TS_FIFO INT = 2,
@LI_TS_LIFO INT = 3,
@LI_ORDENAR_X_SECCION INT = 0,
@LI_ORDENAR_X_UBIC_PICK INT = 0,
@LI_VALIDA_FECHA INT = 0;

SELECT @LI_ORDENAR_X_SECCION = PAR_VALOR
FROM SI_PARAMETRO_PRO WITH(NOLOCK)
WHERE CODIGO_SBE = @AI_CODIGO_SUBEMPRESA
AND PAR_NOMBRE = 'ORDENAR_X_SEC_PREP';

SELECT @LI_ORDENAR_X_UBIC_PICK = PAR_VALOR
FROM SI_PARAMETRO_PRO WITH(NOLOCK)
WHERE CODIGO_SBE = @AI_CODIGO_SUBEMPRESA
AND PAR_NOMBRE = 'ORDENAR_X_UBIC_PICK';


DECLARE @LI_CODIGO_ORDEN INT,
@LI_CODIGO_ESTADO INT,
@AL_CODIGO_BODEGA_ORIGEN INT,
@LI_CODIGO_TIPOSALIDA_FIFO INT = 2,
@LI_CODIGO_TIPOSALIDA_FEFO INT = 3,
@LI_CODIGO_TIPO_ORDEN_PREP INT;

IF(@AI_CODIGO_ORDEN_PREP > 0 AND @AI_CODIGO_PRODUCTO <= 0)
BEGIN

	SELECT	@LI_CODIGO_ESTADO = CODIGO_EOP,
			@LI_CODIGO_TIPO_ORDEN_PREP = TP.CODIGO_TPB,
			@LI_VALIDA_FECHA = CAST(VALIDA_SALIDA_PROD_VENCIMIENTO_TPB AS INT)
	FROM [WM_ORDEN_PREPARACION] OP WITH(NOLOCK)
	INNER JOIN SI_TIPO_PREPARACION_BODEGA TP WITH(NOLOCK) ON TP.CODIGO_TOP = OP.CODIGO_TOP
	WHERE CODIGO_ORP = @AI_CODIGO_ORDEN_PREP
	AND OP.CODIGO_BDG = TP.CODIGO_BDG;

	IF(@LI_CODIGO_ESTADO >= 5)
	BEGIN
		RETURN;
	END;
END;

SET @LI_CODIGO_ESTADO = 0;

DECLARE @LI_CODIGO_ORP INT,
			@LI_CODIGO_PRD INT,
			@LI_CANTIDADPEDIDA DECIMAL(18,2), --CAMBIADO INT
			@LS_CODIGO_PADRE NVARCHAR(50),
			@LI_FACTORCONVERSION INT,
			@LI_CODIGO_PRD_PADRE INT,
			@LI_CANTIDAD_PADRE DECIMAL(18,2), --CAMBIADO INT
			@LI_CANTIDAD_UNIDADES DECIMAL(18,2), --CAMBIADO INT
			@LI_AUX DECIMAL(18,2), --CAMBIADO INT
			@LI_CODIGO_DETALLE_UBICACION INT,
			@LI_TEXT_UBICACION NVARCHAR(100);
 
SET @AL_CODIGO_BODEGA_ORIGEN = @AI_CODIGO_BODEGA;

DECLARE @LT_DETALLEPRODUCTOSINICIAL  AS [dbo].[DT_DETALLE_PRODUCTOS_INICIAL]

DECLARE @LT_DETALLEPRODUCTOS_FINAL TABLE (
			ID INT IDENTITY(1,1),
			CODIGO_ORP INT,
			CODIGO_PRD INT,
			CANTIDADPEDIDA DECIMAL(18,2), --CAMBIADO INT
			COD_UBIC_ORG INT,
			UBIC_ESNIVEL_ORG BIT,
			TEXTO_UBIC_ORG NVARCHAR(50),
			ORDEN INT,
			CODIGO_DIP NUMERIC(18,0),
			LOTE NVARCHAR(100),
			CODIGO_AGRUPA NVARCHAR(50),
			FECHA_VENCIMIENTO DATETIME,
			RESERVADO BIT,
			PORC_APERTURA BIT,
			CODIGO_PRD_ORG NUMERIC(18,0),
			CANT_PROD_ORG DECIMAL(18,2), --CAMBIADO INT
			FACT_CONV_ORG INT
			);

DECLARE @LT_DETALLEPRODUCTOS TABLE (
			CODIGO_ORP INT,
			CODIGO_PRD INT,
			CANTIDADPEDIDA DECIMAL(18,2) --CAMBIADO INT
			);

DECLARE @LT_PRODUCTOSAUX2 TABLE (
CODIGO_PRD INT,
CANTIDADPEDIDA DECIMAL(18,2), --CAMBIADO INT
CODIGO_PROD_ORIGEN INT
)

DECLARE @LT_TABLA_AUXILIAR TABLE (
CODIGO_PRODUCTO INT,
CANTIDAD DECIMAL(18,2) --CAMBIADO INT
);

DECLARE @LT_ORDENES TABLE (
CODIGO_ORDEN INT 
);

DECLARE @LT_DETALLE_PROCESADOS TABLE (
CODIGO_DETALLE INT
);

DECLARE @LT_UBICACIONPRODUCTOS TABLE (
CODIGO_DIP INT,
CODIGO_UBICACION INT,
ESNIVEL INT,
ORDEN_SECCCION INT,
ORDEN_ESTANTERIA INT,
ORDEN_COLUMNA INT,
ORDEN_NIVEL INT,
ORDEN_DIVISION INT,
CODIGO_PRODUCTO INT,
CANTIDAD DECIMAL(18,2), --CAMBIADO INT
ORDEN INT,
LOTE NVARCHAR(100),
CODIGO_AGRUPA NVARCHAR(50),
FECHA_VENCIMIENTO DATETIME,
FECHA_CREACION DATETIME,
TIPOSALIDA INT,
CODIGO_SEC INT,
ORDEN_TUB INT,
ORDEN_TOPS INT,
TEXT_UBICACION NVARCHAR(100)
);


DECLARE @LT_PRODUCTO_PIKIADO TABLE (
CODIGO_PRODUCTO INT,
CANTIDAD DECIMAL(18,2) --CAMBIADO INT
);


DECLARE @LT_PRODUCTO_PADRE TABLE (
CODIGO_PRD_PADRE INT,
FACTOR_HIJO_CPR INT,
CODIGO_PRD_HIJO INT
);


DECLARE @LI_CODIGO_PRODUCTO INT,
@LI_CANTIDAD DECIMAL(18,2), --CAMBIADO INT
@LI_CANTIDAD_EN_UBICACION DECIMAL(18,2), --CAMBIADO INT
@LI_ORDEN INT,
@LI_CODIGO_UBICACION INT,
@LI_ESNIVEL INT,
@LI_INSERTAR INT,
@LI_CANTIDAD_ENCONTRADA DECIMAL(18,2), --CAMBIADO INT
@LI_ENTRO_A_UBICACIONES INT,
@LS_LOTE NVARCHAR(100),
@LD_FECHA_VENCIMIENTO DATETIME,
@LD_SERESERVO INT = 0,
@LS_CODIGO_AGRUPA NVARCHAR(50),
@LI_REPETIR INT = 0,
@MANEJA_KITS NVARCHAR(1)  = '0',
@MANEJA_MULTIPLE_EMPAQUE NVARCHAR(1)  = '0',
@LI_CANTIDAD_PADRE_PICK INT = 0,
@LI_CANTIDAD_RESIDUO_PICK INT = 0,
--Variable para cursor de productos picados
@CANTIDAD_PICK decimal(18,2) = 0,
@LI_CODIGO_PRODUCTO_PICK INT = 0,
@LI_FACTOR_CONVERSION_PICK INT = 0,
---PARA TABLA
@IDENT INT = 0;
    -- Obteniendo parametros
	SET @MANEJA_KITS = ISNULL((SELECT PAR_VALOR FROM SI_PARAMETRO_PRO WHERE PAR_NOMBRE = 'KITS' AND CODIGO_SBE= @AI_CODIGO_SUBEMPRESA ),'0');
	SET @MANEJA_MULTIPLE_EMPAQUE = ISNULL((SELECT PAR_VALOR FROM SI_PARAMETRO_PRO WHERE PAR_NOMBRE = 'MANEJA_MULTIPLE_EMPAQUE' AND CODIGO_SBE= @AI_CODIGO_SUBEMPRESA ),'0');
	
	IF(@AI_CODIGO_ORDEN_PREP > 0)
	BEGIN

		-- Se modifica para q ejecute solo la orden de preparación enviada 
		INSERT INTO @LT_ORDENES
		SELECT @AI_CODIGO_ORDEN_PREP;
	END
	else
		return;
	

			DELETE FROM @LT_DETALLEPRODUCTOSINICIAL;
			DELETE FROM @LT_DETALLEPRODUCTOS_FINAL;
			DELETE FROM @LT_UBICACIONPRODUCTOS;
			DELETE FROM @LT_DETALLE_PROCESADOS;
			DELETE FROM @LT_DETALLEPRODUCTOS;
			DELETE FROM @LT_PRODUCTO_PIKIADO;
			PRINT 'PRIMER CURSOR'

			set @LI_CODIGO_ORDEN = @AI_CODIGO_ORDEN_PREP

			BEGIN
		
				INSERT INTO @LT_PRODUCTO_PIKIADO
				SELECT 
					DOP.CODIGO_PRD, SUM(ISNULL(CANTIDAD_PICK_DPP,0)) 
				FROM [dbo].[WM_DET_ORD_PREP_PICK] DPK WITH(NOLOCK)
				
				INNER JOIN [dbo].[WM_DETALLE_ORD_PREP] DOP ON DOP.CODIGO_DOP = DPK.CODIGO_DOP
																AND DOP.CODIGO_ORP = @LI_CODIGO_ORDEN
				GROUP BY DOP.CODIGO_PRD;
			-- simplificacion de codigo movido a al SP SP_PROC_UBIC_ORD_PREP_DETALLE
				INSERT @LT_DETALLEPRODUCTOSINICIAL 
				EXEC SP_PROC_UBIC_ORD_PREP_DETALLE @LI_CODIGO_ORDEN,@AI_CODIGO_SUBEMPRESA

			END;

		---	select * from @LT_DETALLEPRODUCTOSINICIAL
 
			INSERT INTO @LT_UBICACIONPRODUCTOS
			exec SP_PROC_UBIC_ORD_PREP_UBICACION @LT_DETALLEPRODUCTOSINICIAL,  @MANEJA_MULTIPLE_EMPAQUE, @AL_CODIGO_BODEGA_ORIGEN, @LI_VALIDA_FECHA, @LI_CODIGO_TIPO_ORDEN_PREP, @LI_ORDENAR_X_SECCION

			SET @LI_CODIGO_ORP = 0;
			SET @LI_CODIGO_PRD = 0;
			SET @LI_CANTIDADPEDIDA = 0;
			SET @LS_CODIGO_PADRE = '';
			SET @LI_FACTORCONVERSION = 0;
			SET @LI_CODIGO_PRD_PADRE = 0;
			SET @LI_CANTIDAD_PADRE = 0;
			SET @LI_CANTIDAD_UNIDADES = 0;
			SET @LI_AUX = 0;


	

			DELETE FROM @LT_DETALLEPRODUCTOS;

			DELETE FROM @LT_PRODUCTOSAUX2;

			DELETE FROM @LT_TABLA_AUXILIAR;

			INSERT INTO @LT_PRODUCTO_PADRE
			SELECT PADRES.CODIGO_PRD AS CODIGO_PRD_PADRE
				, FACTOR_HIJO_CPR
				, INICIAL.CODIGO_PRD as CODIGO_PRD_HIJO
				FROM @LT_DETALLEPRODUCTOSINICIAL INICIAL
				INNER JOIN GN_PRODUCTO HIJOS ON HIJOS.CODIGO_PRD =  INICIAL.CODIGO_PRD 
				INNER JOIN GN_PRODUCTO PADRES ON PADRES.CODIGO_INT_HIJ_PRD = HIJOS.CODIGO_INT_PRD AND PADRES.CODIGO_PRD != INICIAL.CODIGO_PRD
				INNER JOIN GN_PRODCT_COMP COMPLEMENTO ON COMPLEMENTO.CODIGO_PRD = PADRES.CODIGO_PRD
				ORDER BY FACTOR_HIJO_CPR DESC


			--select GETDATE(), 'picados';
				--SELECT   CODIGO_ORP
				--		,CODIGO_PRD
				--		,CANTIDADPEDIDA
				--FROM @LT_DETALLEPRODUCTOSINICIAL ini
				--WHERE FACTORCONVERSION = 1
				--and CANTIDADPEDIDA > 0
				--and exists (
				--select top 1 1 from ( 
				--	SELECT top 1 1 cccc from @LT_PRODUCTO_PIKIADO P
				--			INNER JOIN @LT_PRODUCTO_PADRE PADRE ON PADRE.CODIGO_PRD_PADRE = P.CODIGO_PRODUCTO
				--			AND PADRE.CODIGO_PRD_HIJO = ini.CODIGO_PRD
				--			and CANTIDAD > 0
				--			UNION 
				--			SELECT top 1 1 cccc
				--			FROM @LT_PRODUCTO_PIKIADO P
				--			WHERE P.CODIGO_PRODUCTO = ini.CODIGO_PRD
				--			and CANTIDAD > 0 ) AS t);
			PRINT 'Conversion UNIDADES CAJAS'
			BEGIN -- REGION CONVERSION UNIDADES A CAJAS
			    DECLARE CR_PRODUCTOSATRATAR CURSOR FOR   
				
				SELECT   CODIGO_ORP
						,CODIGO_PRD
						,CANTIDADPEDIDA
				FROM @LT_DETALLEPRODUCTOSINICIAL ini
				where exists (
				select top 1 1 from ( 
					SELECT top 1 1 cccc from @LT_PRODUCTO_PIKIADO P
							INNER JOIN @LT_PRODUCTO_PADRE PADRE ON PADRE.CODIGO_PRD_PADRE = P.CODIGO_PRODUCTO
							AND PADRE.CODIGO_PRD_HIJO = ini.CODIGO_PRD
							and CANTIDAD > 0
							UNION 
							SELECT top 1 1 cccc
							FROM @LT_PRODUCTO_PIKIADO P
							WHERE P.CODIGO_PRODUCTO = ini.CODIGO_PRD
							and CANTIDAD > 0 ) AS t)
				order by FACTORCONVERSION asc;

			
  
				OPEN CR_PRODUCTOSATRATAR  
				FETCH NEXT FROM CR_PRODUCTOSATRATAR INTO @LI_CODIGO_ORP, @LI_CODIGO_PRD, @LI_CANTIDADPEDIDA
  
				WHILE @@FETCH_STATUS = 0  
				BEGIN 
				PRINT 'Cursor hijo'
				SET @LI_REPETIR = 0;
				--- restar de la cantidad pedida los productos picados

				-- VALIDA PIKING DE PRODUCTO
								SET @LI_AUX = 0;

							--	 SET @LI_AUX = (
							--	 select SUM(cantidad) from (
							--	SELECT (CANTIDAD * FACTOR_HIJO_CPR) cantidad FROM @LT_PRODUCTO_PIKIADO
							--	INNER JOIN @LT_PRODUCTO_PADRE PADRE ON PADRE.CODIGO_PRD_PADRE = CODIGO_PRODUCTO
							--	AND PADRE.CODIGO_PRD_HIJO = @LI_CODIGO_PRD
							--	UNION 
							--	SELECT (CANTIDAD) cantidad FROM @LT_PRODUCTO_PIKIADO
							--	WHERE CODIGO_PRODUCTO = @LI_CODIGO_PRD) as tabla_picado); 

							--	SET @LI_CANTIDAD_PADRE_PICK = ISNULL((SELECT (CANTIDAD) FROM @LT_PRODUCTO_PIKIADO
							--	WHERE CODIGO_PRODUCTO = @LI_CODIGO_PRD_PADRE),0) 

							----IF(@LI_CODIGO_PRD = 391) 
							----	SELECT @LI_AUX AUXILIAR, @LI_CANTIDAD_PADRE_PICK PICK_PADRE, @LI_CODIGO_PRD_PADRE
							
							--IF(@LI_CANTIDADPEDIDA >= @LI_AUX) BEGIN
							--			SET @LI_CANTIDADPEDIDA = @LI_CANTIDADPEDIDA - @LI_AUX

							--			UPDATE PICK
							--			SET CANTIDAD = 0
							--			FROM @LT_PRODUCTO_PIKIADO PICK
							--			INNER JOIN @LT_PRODUCTO_PADRE PADRE ON PADRE.CODIGO_PRD_PADRE = CODIGO_PRODUCTO
							--			AND PADRE.CODIGO_PRD_HIJO = @LI_CODIGO_PRD

							--			UPDATE PICK
							--			SET CANTIDAD = 0
							--			FROM @LT_PRODUCTO_PIKIADO PICK
							--			WHERE CODIGO_PRODUCTO = @LI_CODIGO_PRD

							--			--Resta el producto ya registrado
							--			UPDATE @LT_DETALLEPRODUCTOSINICIAL
							--					SET CANTIDADPEDIDA = @LI_CANTIDADPEDIDA
							--				WHERE CODIGO_PRD = @LI_CODIGO_PRD;	

							--	END
							--	ELSE 
								BEGIN
								--	SET @LI_CANTIDAD_RESIDUO_PICK = @LI_AUX - @LI_CANTIDADPEDIDA;
									--SET @LI_CANTIDADPEDIDA = 0;
									 DECLARE CR_PRODUCTOS_PICKADOS CURSOR FOR   
									SELECT 
									PICK.CANTIDAD
									,PICK.CODIGO_PRODUCTO
									,1 FACTOR_HIJO_CPR
									FROM @LT_PRODUCTO_PIKIADO PICK
									WHERE CODIGO_PRODUCTO = @LI_CODIGO_PRD
									UNION 
									SELECT 
									PICK.CANTIDAD
									,PICK.CODIGO_PRODUCTO
									,PADRE.FACTOR_HIJO_CPR 
									FROM @LT_PRODUCTO_PIKIADO PICK
									INNER JOIN @LT_PRODUCTO_PADRE PADRE ON PADRE.CODIGO_PRD_PADRE = CODIGO_PRODUCTO
									AND PADRE.CODIGO_PRD_HIJO = @LI_CODIGO_PRD
  
									OPEN CR_PRODUCTOS_PICKADOS  
									FETCH NEXT FROM CR_PRODUCTOS_PICKADOS INTO @CANTIDAD_PICK,@LI_CODIGO_PRODUCTO_PICK, @LI_FACTOR_CONVERSION_PICK
										
									WHILE @@FETCH_STATUS = 0  
									BEGIN 
									PRINT 'Cursor PICK'
										if(@CANTIDAD_PICK * @LI_FACTOR_CONVERSION_PICK <= @LI_CANTIDADPEDIDA ) BEGIN

											SET @LI_CANTIDADPEDIDA = @LI_CANTIDADPEDIDA - (@CANTIDAD_PICK * @LI_FACTOR_CONVERSION_PICK)
										
											UPDATE PICK
												SET CANTIDAD = 0
											FROM @LT_PRODUCTO_PIKIADO PICK
											WHERE CODIGO_PRODUCTO = @LI_CODIGO_PRODUCTO_PICK

											--Resta el producto ya registrado
											UPDATE @LT_DETALLEPRODUCTOSINICIAL
													SET CANTIDADPEDIDA = @LI_CANTIDADPEDIDA
												WHERE CODIGO_PRD = @LI_CODIGO_PRD;	

										END ELSE BEGIN

											SET @LI_CANTIDAD_PADRE = 0;
											SET @LI_CANTIDAD_UNIDADES = 0;

											if(@LI_FACTOR_CONVERSION_PICK > 1) BEGIN
												SELECT @LI_CANTIDAD_PADRE = CAST(@LI_CANTIDADPEDIDA/@LI_FACTOR_CONVERSION_PICK AS INT), 
												@LI_CANTIDAD_UNIDADES = @LI_CANTIDADPEDIDA % @LI_FACTOR_CONVERSION_PICK;

												SET @LI_CANTIDAD_UNIDADES = ISNULL(@LI_CANTIDAD_UNIDADES, 0);
												SET @LI_CANTIDAD_PADRE = ISNULL(@LI_CANTIDAD_PADRE, 0)
												
												IF(@CANTIDAD_PICK <= @LI_CANTIDAD_PADRE ) BEGIN
													SET @LI_CANTIDADPEDIDA = @LI_CANTIDADPEDIDA - (@CANTIDAD_PICK * @LI_FACTOR_CONVERSION_PICK)
													UPDATE PICK
													SET CANTIDAD = 0
													FROM @LT_PRODUCTO_PIKIADO PICK
													WHERE CODIGO_PRODUCTO = @LI_CODIGO_PRODUCTO_PICK

													UPDATE @LT_DETALLEPRODUCTOSINICIAL
														SET CANTIDADPEDIDA = @LI_CANTIDADPEDIDA
												    WHERE CODIGO_PRD = @LI_CODIGO_PRD;	

												END ELSE BEGIN

													SET @LI_CANTIDADPEDIDA = @LI_CANTIDADPEDIDA - (@LI_CANTIDAD_PADRE * @LI_FACTOR_CONVERSION_PICK)

													UPDATE PICK
													SET CANTIDAD = CANTIDAD - @LI_CANTIDAD_PADRE
													FROM @LT_PRODUCTO_PIKIADO PICK
													WHERE CODIGO_PRODUCTO = @LI_CODIGO_PRODUCTO_PICK

													UPDATE @LT_DETALLEPRODUCTOSINICIAL
														SET CANTIDADPEDIDA = @LI_CANTIDADPEDIDA
													WHERE CODIGO_PRD = @LI_CODIGO_PRD;	

												END
											

											END
											else BEGIN
												SELECT @LI_CANTIDAD_PADRE =@LI_CANTIDADPEDIDA, @LI_CANTIDAD_UNIDADES = 0;	   

												SET @LI_CANTIDADPEDIDA = 0;
												
												UPDATE PICK
												SET CANTIDAD = CANTIDAD - @LI_CANTIDADPEDIDA
												FROM @LT_PRODUCTO_PIKIADO PICK
												WHERE CODIGO_PRODUCTO = @LI_CODIGO_PRODUCTO_PICK

												UPDATE @LT_DETALLEPRODUCTOSINICIAL
													SET CANTIDADPEDIDA = @LI_CANTIDADPEDIDA
												WHERE CODIGO_PRD = @LI_CODIGO_PRD;	

											END
										END
									FETCH NEXT FROM CR_PRODUCTOS_PICKADOS INTO  @CANTIDAD_PICK,@LI_CODIGO_PRODUCTO_PICK, @LI_FACTOR_CONVERSION_PICK
								END  
  
								CLOSE CR_PRODUCTOS_PICKADOS  
								DEALLOCATE CR_PRODUCTOS_PICKADOS; 

								END 
					FETCH NEXT FROM CR_PRODUCTOSATRATAR INTO @LI_CODIGO_ORP, @LI_CODIGO_PRD, @LI_CANTIDADPEDIDA
				END  
  
				CLOSE CR_PRODUCTOSATRATAR  
				DEALLOCATE CR_PRODUCTOSATRATAR; 

			END -- REGION CONVERSION UNIDADES A CAJAS

		---	select GETDATE(), 'caja';
			

		    /******************************************* CONVERSION DE UNIDADES A CAJAS Y VALIDACIÓN DE EXISTENCA DEL VALOR CONVERTIDO ****************************************/
			-- CURSOR HIJOS PARA LUEGO CONSULTAR LOS PADRES
			PRINT 'Conversion UNIDADES CAJAS'
			BEGIN -- REGION CONVERSION UNIDADES A CAJAS
			    DECLARE CR_PRODUCTOSATRATAR CURSOR FOR   
				
				SELECT   CODIGO_ORP
						,CODIGO_PRD
						,CANTIDADPEDIDA
				FROM @LT_DETALLEPRODUCTOSINICIAL ini
				WHERE  	 CANTIDADPEDIDA > 0 and FACTORCONVERSION = 1
				and exists (
				select top 1 1 from ( 
					SELECT top 1 1 cccc from @LT_UBICACIONPRODUCTOS P
							INNER JOIN @LT_PRODUCTO_PADRE PADRE ON PADRE.CODIGO_PRD_PADRE = P.CODIGO_PRODUCTO
							AND PADRE.CODIGO_PRD_HIJO = ini.CODIGO_PRD
							and CANTIDAD > 0
							UNION 
							SELECT top 1 1 cccc
							FROM @LT_UBICACIONPRODUCTOS P
							WHERE P.CODIGO_PRODUCTO = ini.CODIGO_PRD
							and CANTIDAD > 0 ) AS t);
  
				OPEN CR_PRODUCTOSATRATAR  
				FETCH NEXT FROM CR_PRODUCTOSATRATAR INTO @LI_CODIGO_ORP, @LI_CODIGO_PRD, @LI_CANTIDADPEDIDA
  
				WHILE @@FETCH_STATUS = 0  
				BEGIN 
				PRINT 'Cursor hijo'

	                 DECLARE @MANEJA_FV INT;
					  SET @MANEJA_FV = (SELECT MANEJA_FECHACADUCIDAD FROM GN_PRODUCTO WHERE CODIGO_PRD = @LI_CODIGO_PRD)
						SET @LI_REPETIR = 0;
						DECLARE CR_PRODUCTOS_UBICACION CURSOR FOR 
						SELECT ISNULL(CODIGO_AGRUPA,'') CODIGO_AGRUPA_DIP, CODIGO_UBICACION, ESNIVEL, 
							CANTIDAD, 
							ORDEN, CODIGO_DIP, LOTE, FECHA_VENCIMIENTO 
							,CODIGO_PRD_PADRE
							,FACTOR_HIJO_CPR
							,TEXT_UBICACION 
							FROM 
							(SELECT *
							FROM @LT_UBICACIONPRODUCTOS P
							INNER JOIN @LT_PRODUCTO_PADRE PADRE ON PADRE.CODIGO_PRD_PADRE = P.CODIGO_PRODUCTO
							AND PADRE.CODIGO_PRD_HIJO = @LI_CODIGO_PRD
							and CANTIDAD > 0
							UNION 
							SELECT *
							,@LI_CODIGO_PRD CODIGO_PRD_PADRE
							,1 FACTOR_HIJO_CPR
							, @LI_CODIGO_PRD CODIGO_PRD_HIJO
							FROM @LT_UBICACIONPRODUCTOS P
							WHERE P.CODIGO_PRODUCTO = @LI_CODIGO_PRD
							and CANTIDAD > 0 ) AS TABLA
							ORDER BY (
							CASE WHEN @LI_ORDENAR_X_SECCION = 1 THEN ORDEN_TOPS
								 WHEN @LI_ORDENAR_X_UBIC_PICK = 1 THEN ORDEN_TUB
							ELSE 1 END
							) ASC,
                              CASE WHEN  ISNULL( @MANEJA_FV,0) = 1 THEN FECHA_VENCIMIENTO
                                                END   ASC ,  /*WHEN ISNULL( @MANEJA_FV,0) = 0 THEN LOTE  END   ASC ,*/
									FECHA_VENCIMIENTO  ASC ,
									FACTOR_HIJO_CPR DESC,
									ORDEN_SECCCION,
									ORDEN_ESTANTERIA,
									ORDEN_COLUMNA,
									ORDEN_NIVEL;
						


					OPEN CR_PRODUCTOS_UBICACION  
					FETCH NEXT FROM CR_PRODUCTOS_UBICACION INTO @LS_CODIGO_AGRUPA, @LI_CODIGO_UBICACION, @LI_ESNIVEL
					, @LI_CANTIDAD_EN_UBICACION, @LI_ORDEN, @LI_CODIGO_DETALLE_UBICACION, @LS_LOTE, @LD_FECHA_VENCIMIENTO
					,@LI_CODIGO_PRD_PADRE, @LI_FACTORCONVERSION, @LI_TEXT_UBICACION
  
					WHILE @@FETCH_STATUS = 0 AND @LI_REPETIR = 0 AND @LI_CANTIDADPEDIDA >0
					BEGIN  

								PRINT 'Cursor padre'
								SET @LI_CANTIDAD_PADRE = 0;
								SET @LI_CANTIDAD_UNIDADES = 0;

								SELECT @LI_CANTIDAD_PADRE =
										
										ISNULL((CASE WHEN @LI_FACTORCONVERSION > 1 
										THEN CAST(@LI_CANTIDADPEDIDA/@LI_FACTORCONVERSION AS INT)
										ELSE @LI_CANTIDADPEDIDA END) ,0),

										@LI_CANTIDAD_UNIDADES = ISNULL((CASE WHEN @LI_FACTORCONVERSION > 1 
										THEN @LI_CANTIDADPEDIDA % @LI_FACTORCONVERSION
										ELSE 0 END),0);

								
								SELECT @LI_AUX =CASE WHEN @LI_CANTIDAD_EN_UBICACION > @LI_CANTIDAD_PADRE THEN
												@LI_CANTIDAD_PADRE
												ELSE @LI_CANTIDAD_EN_UBICACION END;
										
								IF(@LI_AUX > 0)
								BEGIN 
										SELECT @LI_CANTIDADPEDIDA = @LI_CANTIDADPEDIDA - (@LI_AUX * @LI_FACTORCONVERSION),
											   @LI_CANTIDAD_PADRE = @LI_CANTIDAD_PADRE - @LI_AUX;
                                     	MERGE @LT_DETALLEPRODUCTOS AS Target 
 												USING ( 
														SELECT @LI_CODIGO_ORP CODIGO_ORP, @LI_CODIGO_PRD_PADRE CODIGO_PRD_PADRE, @LI_AUX CANTIDADPEDIDA
														)  AS Source 
												ON (Target.CODIGO_ORP =  Source.CODIGO_ORP 
													AND Target.CODIGO_PRD = Source.CODIGO_PRD_PADRE) 
												WHEN MATCHED THEN 
													UPDATE SET Target.CANTIDADPEDIDA = Target.CANTIDADPEDIDA + Source.CANTIDADPEDIDA 
												WHEN NOT MATCHED BY TARGET THEN 
													INSERT (CODIGO_ORP, CODIGO_PRD, CANTIDADPEDIDA) 
												VALUES (Source.CODIGO_ORP, Source.CODIGO_PRD_PADRE, Source.CANTIDADPEDIDA); 
									
												--- Guarda la cantidad producto pedido en unidades
												MERGE @LT_TABLA_AUXILIAR AS Target 
 												USING ( 
														SELECT  @LI_CODIGO_PRD CODIGO_PRD, (@LI_AUX * @LI_FACTORCONVERSION) CANTIDADPEDIDA    --- Producto Real 
														)  AS Source 
												ON ( Target.CODIGO_PRODUCTO = Source.CODIGO_PRD) 
												WHEN MATCHED THEN 
													UPDATE SET Target.CANTIDAD = Target.CANTIDAD + Source.CANTIDADPEDIDA 
												WHEN NOT MATCHED BY TARGET THEN 
													INSERT (CODIGO_PRODUCTO, CANTIDAD) 
												VALUES (Source.CODIGO_PRD, Source.CANTIDADPEDIDA); 
										-- Nuevo
										UPDATE @LT_UBICACIONPRODUCTOS
											SET CANTIDAD = CANTIDAD - @LI_AUX
										WHERE CODIGO_DIP = @LI_CODIGO_DETALLE_UBICACION;

										UPDATE @LT_DETALLEPRODUCTOSINICIAL
											SET CANTIDADPEDIDA = CANTIDADPEDIDA - (@LI_AUX * @LI_FACTORCONVERSION)
										WHERE CODIGO_PRD = @LI_CODIGO_PRD;
									
										MERGE @LT_DETALLEPRODUCTOS_FINAL AS Target 
 										USING ( 
												SELECT  @LI_CODIGO_ORDEN CODIGO_ORDEN,
														@LI_CODIGO_PRD_PADRE CODIGO_PRD_PADRE, 
														@LI_AUX CANTIDAD, 
														@LI_CODIGO_UBICACION CODIGO_UBICACION, 
														@LI_ESNIVEL ESNIVEL, 
														@LI_TEXT_UBICACION TEXTOUBICACION,
														@LI_ORDEN ORDEN, 
														@LI_CODIGO_DETALLE_UBICACION CODIGO_DETALLE_UBICACION, 
														@LS_LOTE LOTE, 
														@LS_CODIGO_AGRUPA CODIGO_AGRUPA,
														@LD_FECHA_VENCIMIENTO FECHA_VENCIMIENTO, 
														@LD_SERESERVO SERESERVO 
												)  AS Source 
										ON ( Target.CODIGO_ORP = Source.CODIGO_ORDEN
											AND Target.CODIGO_PRD = Source.CODIGO_PRD_PADRE
											AND Target.LOTE = Source.LOTE
											AND Target.FECHA_VENCIMIENTO = Source.FECHA_VENCIMIENTO
											AND Target.COD_UBIC_ORG = Source.CODIGO_UBICACION
											AND Target.UBIC_ESNIVEL_ORG = Source.ESNIVEL
											AND Target.CODIGO_AGRUPA = Source.CODIGO_AGRUPA) 
										WHEN MATCHED THEN 
											UPDATE SET Target.CANTIDADPEDIDA = Target.CANTIDADPEDIDA + Source.CANTIDAD,
														Target.CODIGO_PRD_ORG = @LI_CODIGO_PRD,
														Target.CANT_PROD_ORG = Target.CANT_PROD_ORG + (@LI_AUX * @LI_FACTORCONVERSION),
														Target.FACT_CONV_ORG = @LI_FACTORCONVERSION
										WHEN NOT MATCHED BY TARGET THEN 
											INSERT (CODIGO_ORP, CODIGO_PRD, CANTIDADPEDIDA, COD_UBIC_ORG, UBIC_ESNIVEL_ORG, TEXTO_UBIC_ORG,
												ORDEN, CODIGO_DIP, LOTE, CODIGO_AGRUPA, FECHA_VENCIMIENTO, RESERVADO, PORC_APERTURA, 
												CODIGO_PRD_ORG, CANT_PROD_ORG, FACT_CONV_ORG)
										VALUES(Source.CODIGO_ORDEN, Source.CODIGO_PRD_PADRE, Source.CANTIDAD, Source.CODIGO_UBICACION, Source.ESNIVEL, Source.TEXTOUBICACION,
												Source.ORDEN, Source.CODIGO_DETALLE_UBICACION, Source.LOTE, Source.CODIGO_AGRUPA, Source.FECHA_VENCIMIENTO, Source.SERESERVO, 0,
												@LI_CODIGO_PRD, (@LI_AUX * @LI_FACTORCONVERSION), @LI_FACTORCONVERSION);

									END

									--select  @LI_CANTIDADPEDIDA LI_CANTIDADPEDIDA, @LI_CANTIDAD_PADRE LI_CANTIDAD_PADRE, 'luego insert' 
									IF(@LI_CANTIDADPEDIDA <= 0)
										SET @LI_REPETIR = 1;

						FETCH NEXT FROM CR_PRODUCTOS_UBICACION INTO @LS_CODIGO_AGRUPA, @LI_CODIGO_UBICACION, @LI_ESNIVEL, @LI_CANTIDAD_EN_UBICACION, @LI_ORDEN
						, @LI_CODIGO_DETALLE_UBICACION, @LS_LOTE, @LD_FECHA_VENCIMIENTO,@LI_CODIGO_PRD_PADRE, @LI_FACTORCONVERSION, @LI_TEXT_UBICACION
						END  
  
					CLOSE CR_PRODUCTOS_UBICACION  
					DEALLOCATE CR_PRODUCTOS_UBICACION; 

					FETCH NEXT FROM CR_PRODUCTOSATRATAR INTO @LI_CODIGO_ORP, @LI_CODIGO_PRD, @LI_CANTIDADPEDIDA
				END  
  
				CLOSE CR_PRODUCTOSATRATAR  
				DEALLOCATE CR_PRODUCTOSATRATAR; 

			END -- REGION CONVERSION UNIDADES A CAJAS


		--	DELETE FROM @LT_DETALLEPRODUCTOSINICIAL
			--WHERE CANTIDADPEDIDA <= 0 ;

			DELETE FROM @LT_PRODUCTO_PIKIADO
			WHERE CANTIDAD <= 0 ;

			--	select GETDATE(), 'todos';

			/******************************************* FIN CONVERSION DE UNIDADES A CAJAS Y VALIDACIÓN DE EXISTENCA DEL VALOR CONVERTIDO ****************************************/




			/******************************************* VALIDA UNIDADES Y CAJAS ****************************************/

			BEGIN -- REGION VALIDA UNIDADES Y CAJAS
			    DECLARE CR_PRODUCTOSATRATAR CURSOR FOR   
				SELECT CODIGO_ORP
						,CODIGO_PRD
						,CANTIDADPEDIDA
						,FACTORCONVERSION
				FROM @LT_DETALLEPRODUCTOSINICIAL ini
				--WHERE FACTORCONVERSION > 1
				where CANTIDADPEDIDA > 0 
				and exists (
				select top 1 1 from ( 
					SELECT top 1 1 cccc from @LT_UBICACIONPRODUCTOS P
							INNER JOIN @LT_PRODUCTO_PADRE PADRE ON PADRE.CODIGO_PRD_PADRE = P.CODIGO_PRODUCTO
							AND PADRE.CODIGO_PRD_HIJO = ini.CODIGO_PRD
							and CANTIDAD > 0
							UNION 
							SELECT top 1 1 cccc
							FROM @LT_UBICACIONPRODUCTOS P
							WHERE P.CODIGO_PRODUCTO = ini.CODIGO_PRD
							and CANTIDAD > 0 ) AS t)
				ORDER BY FACTORCONVERSION DESC;
  
				OPEN CR_PRODUCTOSATRATAR  
				FETCH NEXT FROM CR_PRODUCTOSATRATAR INTO @LI_CODIGO_ORP, @LI_CODIGO_PRD, @LI_CANTIDADPEDIDA, @LI_FACTORCONVERSION
  
				WHILE @@FETCH_STATUS = 0  
				BEGIN  

				PRINT 'TERCER CURSOR'
					SET @LI_CANTIDAD_PADRE = 0;
				 
					SELECT @LI_CANTIDAD_PADRE =  @LI_CANTIDADPEDIDA;		--Se toma la variable @LI_CANTIDAD_PADRE para utilizar el mismo procedimiento de conversión
				
					SET @LI_CANTIDAD_PADRE = ISNULL(@LI_CANTIDAD_PADRE, 0)	
																																																																																																																	IF (@LI_CANTIDAD_PADRE > 0)
				BEGIN

					SET @LI_REPETIR = 0;
					DECLARE CR_PRODUCTOS_UBICACION CURSOR FOR
						SELECT	ISNULL(CODIGO_AGRUPA,'') CODIGO_AGRUPA_DIP, CODIGO_UBICACION, ESNIVEL, 
								P.CANTIDAD, ORDEN, P.CODIGO_DIP, LOTE, FECHA_VENCIMIENTO
						FROM @LT_UBICACIONPRODUCTOS P
						WHERE P.CODIGO_PRODUCTO = @LI_CODIGO_PRD
							and CANTIDAD > 0
						ORDER BY (
							CASE WHEN @LI_ORDENAR_X_SECCION = 1 THEN ORDEN_TOPS
								 WHEN @LI_ORDENAR_X_UBIC_PICK = 1 THEN ORDEN_TUB
							ELSE 1 END
							) ASC,
							FECHA_VENCIMIENTO  ASC ,
								ORDEN_SECCCION ,
								ORDEN_ESTANTERIA ,
								ORDEN_COLUMNA ,
								ORDEN_NIVEL ,
								ORDEN_DIVISION;
  
							OPEN CR_PRODUCTOS_UBICACION  
							FETCH NEXT FROM CR_PRODUCTOS_UBICACION INTO @LS_CODIGO_AGRUPA, @LI_CODIGO_UBICACION, @LI_ESNIVEL, @LI_CANTIDAD_EN_UBICACION, @LI_ORDEN, @LI_CODIGO_DETALLE_UBICACION, @LS_LOTE, @LD_FECHA_VENCIMIENTO
  
							WHILE @@FETCH_STATUS = 0 AND @LI_REPETIR = 0 
							BEGIN  

							PRINT 'CUARTO CURSOR'
									SET @LI_AUX = 0;
									SET @LI_CANTIDAD_EN_UBICACION = 0;

									SELECT 
										@LI_CANTIDAD_EN_UBICACION = CANTIDAD 
									FROM @LT_UBICACIONPRODUCTOS P
									WHERE P.CODIGO_DIP = @LI_CODIGO_DETALLE_UBICACION
										AND CANTIDAD > 0;

									SET @LI_AUX = 
									CASE WHEN ISNULL(@LI_CANTIDAD_EN_UBICACION,0) > @LI_CANTIDAD_PADRE  THEN @LI_CANTIDAD_PADRE
									else ISNULL(@LI_CANTIDAD_EN_UBICACION,0) end;
									
									--setea la cantidad solitada pero en cajas 
									IF(@LI_AUX > 0)
									BEGIN 

										MERGE @LT_DETALLEPRODUCTOS AS Target 
 										USING ( 
												SELECT @LI_CODIGO_ORP CODIGO_ORP, @LI_CODIGO_PRD CODIGO_PRD_PADRE, @LI_AUX CANTIDADPEDIDA
										  	  )  AS Source 
										ON (Target.CODIGO_ORP =  Source.CODIGO_ORP 
											AND Target.CODIGO_PRD = Source.CODIGO_PRD_PADRE) 
										WHEN MATCHED THEN 
											UPDATE SET Target.CANTIDADPEDIDA = Target.CANTIDADPEDIDA + Source.CANTIDADPEDIDA 
										WHEN NOT MATCHED BY TARGET THEN 
											INSERT (CODIGO_ORP, CODIGO_PRD, CANTIDADPEDIDA) 
										VALUES (Source.CODIGO_ORP, Source.CODIGO_PRD_PADRE, Source.CANTIDADPEDIDA); 

									
										MERGE @LT_TABLA_AUXILIAR AS Target 
 										USING ( 
												SELECT  @LI_CODIGO_PRD CODIGO_PRD, (@LI_AUX) CANTIDADPEDIDA    --- Producto Real 
										  	   )  AS Source 
										ON ( Target.CODIGO_PRODUCTO = Source.CODIGO_PRD) 
										WHEN MATCHED THEN 
											UPDATE SET Target.CANTIDAD = Target.CANTIDAD + Source.CANTIDADPEDIDA 
										WHEN NOT MATCHED BY TARGET THEN 
											INSERT (CODIGO_PRODUCTO, CANTIDAD) 
										VALUES (Source.CODIGO_PRD, Source.CANTIDADPEDIDA); 
									 
										SET @LI_CANTIDADPEDIDA = @LI_CANTIDADPEDIDA - (@LI_AUX)

										UPDATE @LT_UBICACIONPRODUCTOS
											SET CANTIDAD = CANTIDAD - @LI_AUX
										WHERE CODIGO_DIP = @LI_CODIGO_DETALLE_UBICACION;

										UPDATE @LT_DETALLEPRODUCTOSINICIAL
											SET CANTIDADPEDIDA = CANTIDADPEDIDA - @LI_AUX
										WHERE CODIGO_PRD = @LI_CODIGO_PRD;

										SET @LI_CANTIDAD_PADRE = @LI_CANTIDAD_PADRE - @LI_AUX;

										MERGE @LT_DETALLEPRODUCTOS_FINAL AS Target 
 										USING ( 
												SELECT  @LI_CODIGO_ORDEN CODIGO_ORDEN,
														@LI_CODIGO_PRD CODIGO_PRD, 
														@LI_AUX CANTIDAD, 
														@LI_CODIGO_UBICACION CODIGO_UBICACION, 
														@LI_ESNIVEL ESNIVEL, 
														dbo.FN_DEVUELVE_CODIGO_UBICACION(@AI_CODIGO_SUBEMPRESA, @LI_CODIGO_UBICACION, @LI_ESNIVEL) TEXTOUBICACION,
														@LI_ORDEN ORDEN, 
														@LI_CODIGO_DETALLE_UBICACION CODIGO_DETALLE_UBICACION, 
														@LS_LOTE LOTE, 
														@LS_CODIGO_AGRUPA CODIGO_AGRUPA,
														@LD_FECHA_VENCIMIENTO FECHA_VENCIMIENTO, 
														@LD_SERESERVO SERESERVO 
										  	   )  AS Source 
										ON ( Target.CODIGO_ORP = Source.CODIGO_ORDEN
											AND Target.CODIGO_PRD = Source.CODIGO_PRD
											AND Target.LOTE = Source.LOTE
											AND Target.FECHA_VENCIMIENTO = Source.FECHA_VENCIMIENTO
											AND Target.COD_UBIC_ORG = Source.CODIGO_UBICACION
											AND Target.UBIC_ESNIVEL_ORG = Source.ESNIVEL
											AND Target.CODIGO_AGRUPA = Source.CODIGO_AGRUPA) 
										WHEN MATCHED THEN 
											UPDATE SET Target.CANTIDADPEDIDA = Target.CANTIDADPEDIDA + Source.CANTIDAD,
													   Target.CODIGO_PRD_ORG = Source.CODIGO_PRD,
											           Target.CANT_PROD_ORG = Target.CANT_PROD_ORG + Source.CANTIDAD,
													   Target.FACT_CONV_ORG = @LI_FACTORCONVERSION
										WHEN NOT MATCHED BY TARGET THEN 
											INSERT (CODIGO_ORP, CODIGO_PRD, CANTIDADPEDIDA, COD_UBIC_ORG, UBIC_ESNIVEL_ORG, TEXTO_UBIC_ORG,
												ORDEN, CODIGO_DIP, LOTE, CODIGO_AGRUPA, FECHA_VENCIMIENTO, RESERVADO, PORC_APERTURA, CODIGO_PRD_ORG, CANT_PROD_ORG, FACT_CONV_ORG)
										VALUES(Source.CODIGO_ORDEN, Source.CODIGO_PRD, Source.CANTIDAD, Source.CODIGO_UBICACION, Source.ESNIVEL, Source.TEXTOUBICACION,
											   Source.ORDEN, Source.CODIGO_DETALLE_UBICACION, Source.LOTE, Source.CODIGO_AGRUPA, Source.FECHA_VENCIMIENTO, Source.SERESERVO, 0,
											   Source.CODIGO_PRD, Source.CANTIDAD, @LI_FACTORCONVERSION);

									END
									 
									IF(@LI_CANTIDADPEDIDA <= 0 OR @LI_CANTIDAD_PADRE <= 0)
										SET @LI_REPETIR = 1;

						    FETCH NEXT FROM CR_PRODUCTOS_UBICACION INTO @LS_CODIGO_AGRUPA, @LI_CODIGO_UBICACION, @LI_ESNIVEL, @LI_CANTIDAD_EN_UBICACION, @LI_ORDEN, @LI_CODIGO_DETALLE_UBICACION, @LS_LOTE, @LD_FECHA_VENCIMIENTO
							END  
  
						CLOSE CR_PRODUCTOS_UBICACION  
						DEALLOCATE CR_PRODUCTOS_UBICACION; 
				END

				FETCH NEXT FROM CR_PRODUCTOSATRATAR INTO @LI_CODIGO_ORP, @LI_CODIGO_PRD, @LI_CANTIDADPEDIDA, @LI_FACTORCONVERSION
				END  
  
				CLOSE CR_PRODUCTOSATRATAR  
				DEALLOCATE CR_PRODUCTOSATRATAR; 

			END -- REGION VALIDA UNIDADES Y CAJAS
			
		--	DELETE FROM @LT_DETALLEPRODUCTOSINICIAL
		--	WHERE CANTIDADPEDIDA <= 0 ;

			DELETE FROM @LT_PRODUCTO_PIKIADO
			WHERE CANTIDAD <= 0 ;

		

			/******************************************* FIN VALIDA UNIDADES y CAJAS ****************************************/
	
			
			/******************************************* CONVERSION DE UNIDADES SIN UNBICACIÓN A CAJAS PARA PROCESO DE APERTURA ****************************************/
				PRINT 'CONVERSION DE UNIDADES SIN UNBICACIÓN A CAJAS PARA PROCESO DE APERTURA'
			BEGIN -- REGION CONVERSION UNIDADES A CAJAS PARA PROCESO DE APERTURA
			    DECLARE CR_PRODUCTOSATRATAR CURSOR FOR   
				SELECT DI.CODIGO_ORP,
						DI.CODIGO_PRD,
						MAX(DI.CANTIDADPEDIDA) -- - SUM(ISNULL(PF.CANTIDADPEDIDA,0)),
				FROM @LT_DETALLEPRODUCTOSINICIAL DI
				INNER JOIN @LT_PRODUCTO_PADRE PADRE ON PADRE.CODIGO_PRD_HIJO = DI.CODIGO_PRD
				WHERE FACTORCONVERSION = 1
				and CANTIDADPEDIDA > 0
				GROUP BY DI.CODIGO_ORP,
						DI.CODIGO_PRD,
						DI.CODIGO_PADRE,
						DI.FACTORCONVERSION,
						DI.CODIGO_PRD_PADRE		
				--HAVING MAX(DI.CANTIDADPEDIDA) - SUM(ISNULL(PF.CANTIDADPEDIDA,0)) > 0;
  
				OPEN CR_PRODUCTOSATRATAR  
				FETCH NEXT FROM CR_PRODUCTOSATRATAR INTO @LI_CODIGO_ORP, @LI_CODIGO_PRD, @LI_CANTIDADPEDIDA
  
				WHILE @@FETCH_STATUS = 0  
				BEGIN  
				print 'PADRES PARA APERTURA'
				
				--- CREANDO CURSOR DE PADRES A RECORRER
				 DECLARE CR_PRODUCTOS_PADRES CURSOR FOR   

					SELECT PADRES.CODIGO_PRD AS CODIGO_PRD_PADRE
					, FACTOR_HIJO_CPR
					FROM @LT_DETALLEPRODUCTOSINICIAL INICIAL
					INNER JOIN GN_PRODUCTO HIJOS ON HIJOS.CODIGO_PRD =  INICIAL.CODIGO_PRD AND INICIAL.CODIGO_PRD = @LI_CODIGO_PRD
					INNER JOIN GN_PRODUCTO PADRES ON PADRES.CODIGO_INT_HIJ_PRD = HIJOS.CODIGO_INT_PRD and INICIAL.CODIGO_PRD != PADRES.CODIGO_PRD
					INNER JOIN GN_PRODCT_COMP COMPLEMENTO ON COMPLEMENTO.CODIGO_PRD = PADRES.CODIGO_PRD
					ORDER BY FACTOR_HIJO_CPR ASC

			

					OPEN CR_PRODUCTOS_PADRES  
					FETCH NEXT FROM CR_PRODUCTOS_PADRES INTO @LI_CODIGO_PRD_PADRE, @LI_FACTORCONVERSION
  
					WHILE @@FETCH_STATUS = 0 
					BEGIN
				 
						SET @LI_CANTIDAD_PADRE = 0;
						SET @LI_CANTIDAD_UNIDADES = 0;

						SELECT @LI_CANTIDAD_PADRE = CAST(@LI_CANTIDADPEDIDA/@LI_FACTORCONVERSION AS INT), 
							   @LI_CANTIDAD_UNIDADES = @LI_CANTIDADPEDIDA % @LI_FACTORCONVERSION;
	
						SET @LI_CANTIDAD_UNIDADES = ISNULL(@LI_CANTIDAD_UNIDADES, 0);
						SET @LI_CANTIDAD_PADRE = ISNULL(@LI_CANTIDAD_PADRE, 0)

						IF(@LI_CANTIDAD_UNIDADES > 0)
							SET @LI_CANTIDAD_PADRE = @LI_CANTIDAD_PADRE + 1;

						--Valida existencia de convercion 
						IF(@LI_CANTIDAD_PADRE > 0 )
						BEGIN

							SET @LI_REPETIR = 0;

							DECLARE CR_PRODUCTOS_UBICACION CURSOR FOR   
								SELECT ISNULL(CODIGO_AGRUPA,'') CODIGO_AGRUPA_DIP, CODIGO_UBICACION, ESNIVEL, 
								P.CANTIDAD, ORDEN, P.CODIGO_DIP, LOTE, FECHA_VENCIMIENTO
								FROM @LT_UBICACIONPRODUCTOS P
								WHERE P.CODIGO_PRODUCTO = @LI_CODIGO_PRD_PADRE
								and CANTIDAD > 0
								ORDER BY (
							CASE WHEN @LI_ORDENAR_X_SECCION = 1 THEN ORDEN_TOPS
								 WHEN @LI_ORDENAR_X_UBIC_PICK = 1 THEN ORDEN_TUB
							ELSE 1 END
							) ASC,
										FECHA_VENCIMIENTO  ASC ,
										ORDEN_SECCCION ,
										ORDEN_ESTANTERIA ,
										ORDEN_COLUMNA ,
										ORDEN_NIVEL ,
										ORDEN_DIVISION ;
  
									OPEN CR_PRODUCTOS_UBICACION  
									FETCH NEXT FROM CR_PRODUCTOS_UBICACION INTO @LS_CODIGO_AGRUPA, @LI_CODIGO_UBICACION, @LI_ESNIVEL, @LI_CANTIDAD_EN_UBICACION, @LI_ORDEN, @LI_CODIGO_DETALLE_UBICACION, @LS_LOTE, @LD_FECHA_VENCIMIENTO
  
									WHILE @@FETCH_STATUS = 0 AND @LI_REPETIR = 0 
									BEGIN  
					
										--SELECT @LI_CANTIDAD_PADRE CANTIDAD_PADRE, @LI_CANTIDAD_EN_UBICACION CANTIDAD_EN_UBICACION, @LI_CODIGO_PRD CODIGO_PRD, @LS_CODIGO_AGRUPA CODIGO_AGRUPA

											 SET @LI_AUX = CASE WHEN @LI_CANTIDAD_EN_UBICACION > @LI_CANTIDAD_PADRE THEN
															@LI_CANTIDAD_PADRE 
															ELSE @LI_CANTIDAD_EN_UBICACION END;
					 
											IF(@LI_AUX > 0)
											BEGIN 
									
												MERGE @LT_DETALLEPRODUCTOS AS Target 
 												USING ( 
														SELECT @LI_CODIGO_ORP CODIGO_ORP, @LI_CODIGO_PRD_PADRE CODIGO_PRD_PADRE, @LI_AUX CANTIDADPEDIDA
										  			  )  AS Source 
												ON (Target.CODIGO_ORP =  Source.CODIGO_ORP 
													AND Target.CODIGO_PRD = Source.CODIGO_PRD_PADRE ) 
												WHEN MATCHED THEN 
													UPDATE SET Target.CANTIDADPEDIDA = Target.CANTIDADPEDIDA + Source.CANTIDADPEDIDA 
												WHEN NOT MATCHED BY TARGET THEN 
													INSERT (CODIGO_ORP, CODIGO_PRD, CANTIDADPEDIDA) 
												VALUES (Source.CODIGO_ORP, Source.CODIGO_PRD_PADRE, Source.CANTIDADPEDIDA); 

												MERGE @LT_TABLA_AUXILIAR AS Target 
 												USING ( 
														SELECT  @LI_CODIGO_PRD CODIGO_PRD, (@LI_AUX * @LI_FACTORCONVERSION) CANTIDADPEDIDA    --- Producto Real 
										  			   )  AS Source 
												ON ( Target.CODIGO_PRODUCTO = Source.CODIGO_PRD) 
												WHEN MATCHED THEN 
													UPDATE SET Target.CANTIDAD = Target.CANTIDAD + Source.CANTIDADPEDIDA 
												WHEN NOT MATCHED BY TARGET THEN 
													INSERT (CODIGO_PRODUCTO, CANTIDAD) 
												VALUES (Source.CODIGO_PRD, Source.CANTIDADPEDIDA); 

										 
												-- Nuevo
												UPDATE @LT_UBICACIONPRODUCTOS
													SET CANTIDAD = CANTIDAD - @LI_AUX
												WHERE CODIGO_DIP = @LI_CODIGO_DETALLE_UBICACION;


												UPDATE @LT_DETALLEPRODUCTOSINICIAL
													SET CANTIDADPEDIDA = CANTIDADPEDIDA - (@LI_AUX * @LI_FACTORCONVERSION)
												WHERE CODIGO_PRD = @LI_CODIGO_PRD;


												SET @LI_CANTIDAD_PADRE = @LI_CANTIDAD_PADRE - @LI_AUX;

												--------------------------------------------------------------------------------

												MERGE @LT_DETALLEPRODUCTOS_FINAL AS Target 
 												USING ( 
														SELECT  @LI_CODIGO_ORDEN CODIGO_ORDEN,
																@LI_CODIGO_PRD CODIGO_PRD,			------------ Se setea el producto original y no la caja (para procesar la apertura de caja)
																@LI_CANTIDADPEDIDA CANTIDAD,		------------ Se setea solo las unidades necesarias y no toda la caja 
																@LI_CODIGO_UBICACION CODIGO_UBICACION, 
																@LI_ESNIVEL ESNIVEL, 
																dbo.FN_DEVUELVE_CODIGO_UBICACION(@AI_CODIGO_SUBEMPRESA, @LI_CODIGO_UBICACION, @LI_ESNIVEL) TEXTOUBICACION,
																@LI_ORDEN ORDEN, 
																@LI_CODIGO_DETALLE_UBICACION CODIGO_DETALLE_UBICACION, 
																@LS_LOTE LOTE, 
																@LS_CODIGO_AGRUPA CODIGO_AGRUPA,
																@LD_FECHA_VENCIMIENTO FECHA_VENCIMIENTO, 
																@LD_SERESERVO SERESERVO 
										  			   )  AS Source 
												ON ( Target.CODIGO_ORP = Source.CODIGO_ORDEN
													AND Target.CODIGO_PRD = Source.CODIGO_PRD
													AND Target.LOTE = Source.LOTE
													AND Target.FECHA_VENCIMIENTO = Source.FECHA_VENCIMIENTO
													AND Target.COD_UBIC_ORG = Source.CODIGO_UBICACION
													AND Target.UBIC_ESNIVEL_ORG = Source.ESNIVEL
													AND Target.CODIGO_AGRUPA = Source.CODIGO_AGRUPA
													AND Target.PORC_APERTURA = 1) 
												WHEN MATCHED THEN 
													UPDATE SET Target.CANTIDADPEDIDA = Target.CANTIDADPEDIDA + Source.CANTIDAD,
															   Target.CODIGO_PRD_ORG = @LI_CODIGO_PRD,
															   Target.CANT_PROD_ORG = Target.CANT_PROD_ORG + Source.CANTIDAD,
															   Target.FACT_CONV_ORG = @LI_FACTORCONVERSION
												WHEN NOT MATCHED BY TARGET THEN 
													INSERT (CODIGO_ORP, CODIGO_PRD, CANTIDADPEDIDA, COD_UBIC_ORG, UBIC_ESNIVEL_ORG, TEXTO_UBIC_ORG,
														ORDEN, CODIGO_DIP, LOTE, CODIGO_AGRUPA, FECHA_VENCIMIENTO, RESERVADO, PORC_APERTURA, 
														CODIGO_PRD_ORG, CANT_PROD_ORG, FACT_CONV_ORG)
												VALUES(Source.CODIGO_ORDEN, Source.CODIGO_PRD, Source.CANTIDAD, Source.CODIGO_UBICACION, Source.ESNIVEL, Source.TEXTOUBICACION,
													   Source.ORDEN, Source.CODIGO_DETALLE_UBICACION, Source.LOTE, Source.CODIGO_AGRUPA, Source.FECHA_VENCIMIENTO, Source.SERESERVO, 1,
													   Source.CODIGO_PRD, --@LI_CODIGO_PRD_PADRE, 
													   @LI_AUX, @LI_FACTORCONVERSION);    ----------------  Cuando es apertura de caja se coloca el producto padre y la cantidad, con lo cual podemos realizar la transferencia de productos en la orden de preparación

											END

											SET @LI_CANTIDADPEDIDA = @LI_CANTIDADPEDIDA - (@LI_AUX * @LI_FACTORCONVERSION)

											IF(@LI_CANTIDADPEDIDA < 0)
												SET @LI_CANTIDADPEDIDA = 0;	

											--select @LI_CANTIDAD_PADRE LI_CANTIDAD_PADRE

											IF(@LI_CANTIDADPEDIDA <= 0 OR @LI_CANTIDAD_PADRE <= 0)
												SET @LI_REPETIR = 1;

									FETCH NEXT FROM CR_PRODUCTOS_UBICACION INTO @LS_CODIGO_AGRUPA, @LI_CODIGO_UBICACION, @LI_ESNIVEL, @LI_CANTIDAD_EN_UBICACION, @LI_ORDEN, @LI_CODIGO_DETALLE_UBICACION, @LS_LOTE, @LD_FECHA_VENCIMIENTO
									END  
  
								CLOSE CR_PRODUCTOS_UBICACION  
								DEALLOCATE CR_PRODUCTOS_UBICACION; 

							END

							--IF(@LI_CANTIDAD_UNIDADES > 0)
							--BEGIN 
							--		INSERT INTO @LT_DETALLEPRODUCTOS(CODIGO_ORP, CODIGO_PRD, CANTIDADPEDIDA)
							--		SELECT @LI_CODIGO_ORP, @LI_CODIGO_PRD, @LI_CANTIDAD_UNIDADES;
							--END
						FETCH NEXT FROM CR_PRODUCTOS_PADRES INTO @LI_CODIGO_PRD_PADRE, @LI_FACTORCONVERSION
						END  
  
					CLOSE CR_PRODUCTOS_PADRES  
					DEALLOCATE CR_PRODUCTOS_PADRES; 


					FETCH NEXT FROM CR_PRODUCTOSATRATAR INTO @LI_CODIGO_ORP, @LI_CODIGO_PRD, @LI_CANTIDADPEDIDA
					END  
  
				CLOSE CR_PRODUCTOSATRATAR  
				DEALLOCATE CR_PRODUCTOSATRATAR; 

			END -- REGION CONVERSION UNIDADES A CAJAS PARA PROCESO DE APERTURA

			DELETE FROM @LT_DETALLEPRODUCTOSINICIAL
			WHERE CANTIDADPEDIDA <= 0 ;

			DELETE FROM @LT_PRODUCTO_PIKIADO
			WHERE CANTIDAD <= 0 ;

			/******************************************* FIN CONVERSION DE UNIDADES SIN UNBICACIÓN A CAJAS PARA PROCESO DE APERTURA ****************************************/

/******************  VALIDACION DE CODIGOS PRODUCTOS MASTER      ************************/
Declare @CODIGOS_MASTER NVARCHAR(MAX) = null;
IF(ISNULL((SELECT PAR_VALOR FROM SI_PARAMETRO_PRO WHERE PAR_NOMBRE = 'KITS'),'0') = '1' ) BEGIN


 DECLARE @MASTER AS TABLE 
(ID INT,
 CANTIDAD_MASTER_SOLICITADA DECIMAL(18,2), --CAMBIADO INT
 CODIGO_PRD_MASTER INT,
 DESCRIPCION_MASTER VARCHAR(1000) ,
 CANTIDAD_MASTER_PICK DECIMAL(18,2), --CAMBIADO INT
 CANTIDAD_COMPROMETIDA DECIMAL(18,2) --CAMBIADO INT
 )

 INSERT @MASTER
 SELECT   ROW_NUMBER() OVER(ORDER BY DP.CODIGO_PRD ASC)
		,SUM(DP.CANTIDADPEDIDA_DOI)
		, DP.CODIGO_PRD
		,''
		,0
		,0
 FROM WM_ORDEN_INTERNA OI  WITH (NOLOCK) 
	INNER JOIN WM_DET_ORDEN_INTERNA DP WITH (NOLOCK) ON DP.CODIGO_ORI = OI.CODIGO_ORI 	AND OI.CODIGO_ORP = @LI_CODIGO_ORDEN
	and exists (
		select * from SI_CLUSTER CLUS 
	INNER JOIN GN_PRODUCTO P WITH (NOLOCK) ON P.CODIGO_PRD = CLUS.CODIGO_PRD_MASTER AND P.ESTAACTIVO_PRD = 1
	and CLUS.CODIGO_PRD_MASTER = DP.CODIGO_PRD AND CLUS.ESTA_ACTIVO_CLS = 1  AND CLUS.ESTA_ACTIVO_PARTE_CLS = 1
	)
	GROUP BY OI.CODIGO_ORP
	,DP.CODIGO_PRD

DECLARE @Cont int = 1;
DECLARE @cont_kits int = 1;
DECLARE @cont_productos int = 1;
DECLARE @total int = (select COUNT(ID) from @MASTER);
IF(@total > 0) BEGIN
DECLARE @CANTIDAD_SOLICITADA DECIMAL(18,2) --CAMBIADO INT;
DECLARE @CANTIDAD_PRODUCTOS int;
DECLARE @CODIGO_MASTER int;


 -- Lista de producto picados de la orden
  DECLARE @PRODUCTOS_PICK AS TABLE 
(ID INT,
 CODIGO_PRD INT,
 DESCRIPCION_PRD VARCHAR(1000),
 CANTIDAD_TOTAL_PICK DECIMAL(18,2), --CAMBIADO INT
 CANTIDAD_SIN_KITS DECIMAL(18,2), --CAMBIADO INT
 CANTIDAD_DIFERENCIA DECIMAL(18,2), --CAMBIADO INT
 CANTIDAD_FALTANTE DECIMAL(18,2), --CAMBIADO INT
 CANTIDAD_SIN_KITS_PICK DECIMAL(18,2) --CAMBIADO INT
 );

 DECLARE @KITS AS TABLE 
(ID INT,
 CODIGO_PRD_PARTE INT ,
 CANTIDAD_PARTE INT ,
 DESCRIPCION_PARTE VARCHAR(1000) ,
 CANTIDAD_MASTER_SOLICITADA INT ,
 CODIGO_PRD_MASTER INT  ,
 DESCRIPCION_MASTER VARCHAR(1000)  )

  DECLARE @IDS_UBICACION AS TABLE 
(ID INT )

 INSERT @KITS
 SELECT 
		ROW_NUMBER() OVER(ORDER BY MAS.CODIGO_PRD_MASTER ASC)
		,CODIGO_PRD_PARTE
		,ISNULL(CLUS.CANTIDAD_CLS,0)
		,''
		,0
		,MAS.CODIGO_PRD_MASTER
		,DESCRIPCION_MASTER
 FROM @MASTER MAS 
 INNER JOIN SI_CLUSTER CLUS  ON CLUS.CODIGO_PRD_MASTER = MAS.CODIGO_PRD_MASTER
 AND CLUS.ESTA_ACTIVO_CLS = 1 AND CLUS.ESTA_ACTIVO_PARTE_CLS = 1

 INSERT @PRODUCTOS_PICK
 SELECT ROW_NUMBER() OVER(ORDER BY CODIGO_PRD ASC) 
		,CODIGO_PRD
		  ,''
		  ,SUM(CANTIDADPEDIDA)
		  ,0 
		  ,SUM(CANTIDADPEDIDA)
		  ,0
		  ,0 FROM (
 SELECT   FI.CODIGO_PRD
		  ,CANTIDADPEDIDA 
FROM @LT_DETALLEPRODUCTOS_FINAL FI
WHERE  exists (
	select top 1 1 from @KITS KIT WHERE FI.CODIGO_PRD = KIT.CODIGO_PRD_PARTE
)
UNION all
SELECT 
	PICK.CODIGO_PRD
	,CANTIDAD_PICK_DPP CANTIDADPEDIDA
FROM WM_DETALLE_ORD_PREP  DET with(nolock)
INNER JOIN WM_DET_ORD_PREP_PICK PICK with(nolock) ON DET.CODIGO_ORP = @AI_CODIGO_ORDEN_PREP 
AND DET.CODIGO_DOP = PICK.CODIGO_DOP AND CANTIDAD_PICK_DPP > 0) as tb
GROUP BY CODIGO_PRD

UPDATE PICK
SET PICK.CANTIDAD_SIN_KITS = ISNULL(CANTIDAD_PEDIDA_DOI,0)
FROM @PRODUCTOS_PICK PICK
INNER JOIN (SELECT OI.CODIGO_ORP
				,DP.CODIGO_PRD
				,SUM(DP.CANTIDADPEDIDA_DOI) CANTIDAD_PEDIDA_DOI
				,P.CODIGO_INT_HIJ_PRD
				,pc.FACTOR_HIJO_CPR
				,PD.CODIGO_PRD CODIGO_PRD_PADRE
				,ISNULL(V.VIDA_UTIL_CVU, 0) VIDA_UTIL_CVU
				FROM WM_ORDEN_INTERNA OI  WITH (NOLOCK) 
				INNER JOIN GN_SUB_EMPRESA SBE ON SBE.CODIGO_SBE = OI.CODIGO_SBE
				AND OI.CODIGO_ORP = @LI_CODIGO_ORDEN
				INNER JOIN WM_DET_ORDEN_INTERNA DP WITH (NOLOCK) ON DP.CODIGO_ORI = OI.CODIGO_ORI
				INNER JOIN GN_PRODUCTO P WITH (NOLOCK) ON P.CODIGO_PRD = DP.CODIGO_PRD and not exists(
					select * from SI_CLUSTER clo where P.CODIGO_PRD = clo.CODIGO_PRD_MASTER
				)
				INNER JOIN GN_PRODCT_COMP PC WITH (NOLOCK) ON PC.CODIGO_PRD = DP.CODIGO_PRD
				LEFT JOIN GN_PRODUCTO PD ON PD.CODIGO_INT_PRD = P.CODIGO_INT_HIJ_PRD
				LEFT JOIN GN_CLIENTE_DESPACHO CD ON CD.CODIGO_HOMOL_CDS = OI.CODIGO_CLIENTE_ORI
				LEFT JOIN SI_CLIENTE_VIDA_UTIL V ON V.CODIGO_CDS = CD.CODIGO_CDS
												AND V.CODIGO_PRD = DP.CODIGO_PRD
												AND V.ESTA_ACTIVO_CVU = 1
												AND V.ESTA_ACTIVO_PRD_CVU = 1
				GROUP BY OI.CODIGO_ORP,
				DP.CODIGO_PRD,
				P.CODIGO_INT_HIJ_PRD,
				PC.FACTOR_HIJO_CPR,
				P.CODIGO_INT_PRD,
				PD.CODIGO_PRD,
				V.VIDA_UTIL_CVU) PROD ON PROD.CODIGO_PRD = PICK.CODIGO_PRD




    Declare @cantidad int =0;
	WHILE(@Cont <= @total) BEGIN

		SELECT @CANTIDAD_SOLICITADA = ISNULL(CANTIDAD_MASTER_SOLICITADA,0), @CODIGO_MASTER = CODIGO_PRD_MASTER FROM @MASTER WHERE ID = @Cont
		SELECT @CANTIDAD_PRODUCTOS = COUNT(CODIGO_CLS) FROM SI_CLUSTER WHERE CODIGO_PRD_MASTER = @CODIGO_MASTER and ESTA_ACTIVO_CLS = 1 and ESTA_ACTIVO_PARTE_CLS = 1		
		SET @cont_kits =1;
		WHILE(@cont_kits <= @CANTIDAD_SOLICITADA) BEGIN
		 set @cantidad = (select COUNT(*) from @PRODUCTOS_PICK pick
										 inner join @KITS KIT on KIT.CODIGO_PRD_PARTE = pick.CODIGO_PRD AND KIT.CODIGO_PRD_MASTER = @CODIGO_MASTER
										 AND pick.CANTIDAD_DIFERENCIA - KIT.CANTIDAD_PARTE >= 0)
				if(@CANTIDAD_PRODUCTOS = @cantidad) BEGIN
						UPDATE pick
						SET CANTIDAD_DIFERENCIA = CANTIDAD_DIFERENCIA - kit.CANTIDAD_PARTE
						from @PRODUCTOS_PICK pick
						inner join @KITS KIT on KIT.CODIGO_PRD_PARTE = pick.CODIGO_PRD AND KIT.CODIGO_PRD_MASTER = @CODIGO_MASTER
						AND CANTIDAD_DIFERENCIA - CANTIDAD_PARTE >= 0
						
						UPDATE MAS
						SET CANTIDAD_MASTER_PICK = CANTIDAD_MASTER_PICK + 1
						FROM @MASTER MAS
						WHERE CODIGO_PRD_MASTER = @CODIGO_MASTER
				END
				ELSE BEGIN 
					set @cont_kits = @CANTIDAD_SOLICITADA + 1;	
				END

			set @cont_kits += 1;
		END
		set @Cont += 1;
	END


	UPDATE pick
	SET CANTIDAD_SIN_KITS_PICK = (
	CASE WHEN CANTIDAD_DIFERENCIA <= CANTIDAD_SIN_KITS THEN CANTIDAD_DIFERENCIA
	ELSE CANTIDAD_SIN_KITS END)
	from @PRODUCTOS_PICK pick


	UPDATE pick
		SET CANTIDAD_DIFERENCIA =  CANTIDAD_DIFERENCIA - (
		CASE WHEN CANTIDAD_DIFERENCIA <= CANTIDAD_SIN_KITS THEN CANTIDAD_DIFERENCIA
		ELSE CANTIDAD_SIN_KITS END)
		,CANTIDAD_FALTANTE = CANTIDAD_DIFERENCIA - (
		CASE WHEN CANTIDAD_DIFERENCIA <= CANTIDAD_SIN_KITS THEN CANTIDAD_DIFERENCIA
		ELSE CANTIDAD_SIN_KITS END)
	from @PRODUCTOS_PICK pick


Declare @CANTIDAD_UBICACIONES int = 0;
Declare @cantidad_restar int =0;

declare @COD_PRODUCTO INT = 0;
declare @id_ubicacion INT = 0;


set @Cont = 1;
set @cont_kits = 1;
	SET @total = (SELECT  count(*) FROM @PRODUCTOS_PICK)

	WHILE(@Cont <= @total) BEGIN

	select @COD_PRODUCTO= DET.CODIGO_PRD FROM @LT_DETALLEPRODUCTOS_FINAL det inner join  @PRODUCTOS_PICK pick on pick.CODIGO_PRD = det.CODIGO_PRD  WHERE pick.ID = @Cont

		 SELECT @CANTIDAD_UBICACIONES = (select count(*) FROM @LT_DETALLEPRODUCTOS_FINAL det inner join  @PRODUCTOS_PICK pick on pick.CODIGO_PRD = det.CODIGO_PRD  and pick.CODIGO_PRD = @COD_PRODUCTO)

		 INSERT INTO @IDS_UBICACION
		 select DET.ID FROM @LT_DETALLEPRODUCTOS_FINAL det inner join  @PRODUCTOS_PICK pick on pick.CODIGO_PRD = det.CODIGO_PRD  and pick.CODIGO_PRD = @COD_PRODUCTO

		SET @cont_kits =1;
		WHILE(@cont_kits <= @CANTIDAD_UBICACIONES) BEGIN
				
				SET @IDENT = (SELECT TOP 1 ID FROM @IDS_UBICACION ORDER BY ID DESC)
				DELETE @IDS_UBICACION WHERE ID = @IDENT

				set @cantidad_restar = (select CASE WHEN CANTIDADPEDIDA  <= CANTIDAD_DIFERENCIA then CANTIDADPEDIDA
				else CANTIDAD_DIFERENCIA END
				from @LT_DETALLEPRODUCTOS_FINAL det 
				inner join @PRODUCTOS_PICK pick on pick.CODIGO_PRD = det.CODIGO_PRD  and  pick.codigo_prd = @COD_PRODUCTO
				AND det.ID =@IDENT )

		

				UPDATE  INI
				SET CANTIDADPEDIDA = CANTIDADPEDIDA + @cantidad_restar
				FROM @LT_DETALLEPRODUCTOSINICIAL INI
				WHERE CODIGO_PRD = @COD_PRODUCTO

			

				UPDATE det
				SET det.CANTIDADPEDIDA =  det.CANTIDADPEDIDA - @cantidad_restar
				from @LT_DETALLEPRODUCTOS_FINAL det
				inner join @PRODUCTOS_PICK pick on pick.CODIGO_PRD = det.CODIGO_PRD   and pick.codigo_prd = @COD_PRODUCTO
					AND det.ID =@IDENT


			    UPDATE pick
				SET pick.CANTIDAD_DIFERENCIA = pick.CANTIDAD_DIFERENCIA - @cantidad_restar
				from @PRODUCTOS_PICK pick  
				inner join @LT_DETALLEPRODUCTOS_FINAL det on pick.CODIGO_PRD = det.CODIGO_PRD    and pick.codigo_prd = @COD_PRODUCTO
					AND det.ID =@IDENT
						

			set @cont_kits += 1;
		END
		set @Cont += 1;
	END
	
if((select count(CANTIDAD_MASTER_PICK) from @MASTER where CANTIDAD_MASTER_PICK > 0) > 0)	
SET @CODIGOS_MASTER	= (select STUFF(
(SELECT ',' + CONVERT(varchar, CAST(CANTIDAD_MASTER_PICK AS INT)) +'|'+  CONVERT(varchar, CODIGO_PRD_MASTER) 
FROM @MASTER
ORDER BY CODIGO_PRD_MASTER
FOR XML PATH('')
), 1, 1, '') )

END;
END;
/****************** CIERRE VALIDACION DE PRODUCTOS MASTER	**************************/
		DELETE FROM @LT_DETALLEPRODUCTOSINICIAL
			WHERE CANTIDADPEDIDA <= 0 ;

			/******************************************* REGISTRA UBICACIONES ****************************************/

	
			BEGIN

				update WM_DETALLE_ORD_PREP
				set ESTA_ACTIVO_DOP = 0,
						RESERVADO_DOP = 0,
						CANTIDAD_ORG_DOP = 0,
						COD_UBIC_ORG_DOP = null, 
						UBIC_ESNIVEL_ORG_DOP = null, 
						TEXTO_UBIC_ORG_DOP = '', 
						LOTE_ORG_DOP = null,
						CODIGO_AGRUPA_DOP = NULL,
						FECHA_VENCI_ORG_DOP = NULL,
						PORC_APERTURA_DOP = 0,
						CODIGO_PRD_ORG_DOP = null,
						CANT_PROD_ORG_DOP = null,
						FACT_CONV_ORG_DOP = null
				where CODIGO_ORP = @LI_CODIGO_ORDEN
				--AND CODIGO_PRD = @AI_CODIGO_PRODUCTO
				AND NOT EXISTS (SELECT TOP(1) DP.[CODIGO_DOP] FROM [dbo].[WM_DET_ORD_PREP_PICK] DP WHERE DP.[CODIGO_DOP] = WM_DETALLE_ORD_PREP.CODIGO_DOP);

				update WM_DETALLE_ORD_PREP
				set RESERVADO_DOP = 0,
					CANTIDAD_ORG_DOP = ISNULL((SELECT SUM(CANTIDAD_PICK_DPP) FROM [dbo].[WM_DET_ORD_PREP_PICK] DP WHERE DP.[CODIGO_DOP] = WM_DETALLE_ORD_PREP.CODIGO_DOP),0)
				where CODIGO_ORP = @LI_CODIGO_ORDEN
				AND CANTIDAD_ORG_DOP > ISNULL((SELECT SUM(CANTIDAD_PICK_DPP) FROM [dbo].[WM_DET_ORD_PREP_PICK] DP WHERE DP.[CODIGO_DOP] = WM_DETALLE_ORD_PREP.CODIGO_DOP),0)
				AND EXISTS (SELECT TOP 1 1  FROM [dbo].[WM_DET_ORD_PREP_PICK] DP WHERE DP.[CODIGO_DOP] = WM_DETALLE_ORD_PREP.CODIGO_DOP)
				AND ESTA_ACTIVO_DOP = 1;


			END;
				
	

		DECLARE @LI_CODIGO_ORP_CR INT,
						@LI_CODIGO_PRD_CR INT,
						@LD_CANTIDAD_ORG_DOP DECIMAL(18,2),
						@LI_COD_UBIC_ORG_DOP  INT,
						@LI_UBIC_ESNIVEL_ORG_DOP  INT,
						@LS_TEXTO_UBIC_ORG_DOP NVARCHAR(30),	
						@LI_RESERVADO_DOP INT,  	 
						@LI_ORDEN_DOP INT,
						@LI_CODIGO_DIP INT,
						@LS_LOTE_ORG_DOP NVARCHAR(50),
						@LS_CODIGO_AGRUPA_DOP NVARCHAR(80),
						@LD_FECHA_VENCI_ORG_DOP DATETIME,
						@LI_PORC_APERTURA_DOP INT,
						@LI_CODIGO_TABLA INT,
						@LI_CODIGO_PRD_ORG INT,
						@LI_CANT_PROD_ORG DECIMAL(18,2), --CAMBIADO INT
						@LI_FACT_CONV_ORG INT;


						 
				--Insert items encontrados
			    DECLARE CR_PRODUCTOS_UBICACION CURSOR FOR   
				SELECT  CODIGO_ORP,
						CODIGO_PRD,
						SUM(CANTIDADPEDIDA) CANTIDAD_ORG_DOP,
						COD_UBIC_ORG COD_UBIC_ORG_DOP,
						UBIC_ESNIVEL_ORG UBIC_ESNIVEL_ORG_DOP,
						TEXTO_UBIC_ORG TEXTO_UBIC_ORG_DOP,	
						ISNULL(RESERVADO,0) RESERVADO_DOP,  	 
						ORDEN ORDEN_DOP,
						CODIGO_DIP,
						LOTE LOTE_ORG_DOP,
						CODIGO_AGRUPA CODIGO_AGRUPA_DOP,
						FECHA_VENCIMIENTO FECHA_VENCI_ORG_DOP,
						ISNULL(PORC_APERTURA,0) PORC_APERTURA_DOP,
						CODIGO_PRD_ORG,
						CANT_PROD_ORG,
						FACT_CONV_ORG 
					FROM @LT_DETALLEPRODUCTOS_FINAL
					WHERE CANTIDADPEDIDA > 0
					GROUP BY CODIGO_ORP,
						CODIGO_PRD,
						COD_UBIC_ORG,
						UBIC_ESNIVEL_ORG,
						TEXTO_UBIC_ORG,	
						ISNULL(RESERVADO,0),			 
						ORDEN,
						CODIGO_DIP,
						LOTE,
						CODIGO_AGRUPA,
						FECHA_VENCIMIENTO,
						ISNULL(PORC_APERTURA,0),
						CODIGO_PRD_ORG,
						CANT_PROD_ORG,
						FACT_CONV_ORG ;
  
				OPEN CR_PRODUCTOS_UBICACION  
				FETCH NEXT FROM CR_PRODUCTOS_UBICACION INTO 
						@LI_CODIGO_ORP_CR,
						@LI_CODIGO_PRD_CR,
						@LD_CANTIDAD_ORG_DOP,
						@LI_COD_UBIC_ORG_DOP,
						@LI_UBIC_ESNIVEL_ORG_DOP,
						@LS_TEXTO_UBIC_ORG_DOP,	
						@LI_RESERVADO_DOP,  	 
						@LI_ORDEN_DOP,
						@LI_CODIGO_DIP,
						@LS_LOTE_ORG_DOP,
						@LS_CODIGO_AGRUPA_DOP,
						@LD_FECHA_VENCI_ORG_DOP,
						@LI_PORC_APERTURA_DOP,
						@LI_CODIGO_PRD_ORG,
						@LI_CANT_PROD_ORG,
						@LI_FACT_CONV_ORG; 
  
				WHILE @@FETCH_STATUS = 0 
				BEGIN  
					
					SET @LI_CODIGO_TABLA = 0;

					SELECT TOP(1) @LI_CODIGO_TABLA = CODIGO_DOP FROM WM_DETALLE_ORD_PREP
					WHERE CODIGO_ORP =  @LI_CODIGO_ORP_CR
						AND CODIGO_PRD = @LI_CODIGO_PRD_CR 
						AND ESTA_ACTIVO_DOP = 0
						--AND isnull(CODIGO_DIP,0) = isnull(@LI_CODIGO_DIP,0)
						--AND isnull(RESERVADO_DOP,0) = isnull(@LI_RESERVADO_DOP,0)
						--AND isnull(CODIGO_AGRUPA_DOP,'') = isnull(@LS_CODIGO_AGRUPA_DOP,'')
						--AND isnull(CANTIDAD_ORG_DOP,0) = 0
						--AND isnull(PORC_APERTURA_ORG_DOP,0) = isnull(@LI_PORC_APERTURA_DOP,0)
					ORDER BY CODIGO_DOP;

					IF(@LI_CODIGO_TABLA > 0)
					BEGIN

						UPDATE WM_DETALLE_ORD_PREP
						SET COD_UBIC_ORG_DOP = @LI_COD_UBIC_ORG_DOP, 
								UBIC_ESNIVEL_ORG_DOP = @LI_UBIC_ESNIVEL_ORG_DOP, 
								TEXTO_UBIC_ORG_DOP = @LS_TEXTO_UBIC_ORG_DOP, 
								CANTIDAD_ORG_DOP = CANTIDAD_ORG_DOP + @LD_CANTIDAD_ORG_DOP,
								LOTE_ORG_DOP = @LS_LOTE_ORG_DOP,
								CODIGO_AGRUPA_DOP = @LS_CODIGO_AGRUPA_DOP,
								FECHA_VENCI_ORG_DOP = @LD_FECHA_VENCI_ORG_DOP,
								ORDEN_DOP = @LI_ORDEN_DOP,
								ESTA_ACTIVO_DOP = 1,
								RESERVADO_DOP = @LI_RESERVADO_DOP,
								PORC_APERTURA_DOP = @LI_PORC_APERTURA_DOP,
								PORC_APERTURA_ORG_DOP = @LI_PORC_APERTURA_DOP,
								FECHA_ACTUALIZACION_DOP = GETDATE(),
								CODIGO_PRD_ORG_DOP = @LI_CODIGO_PRD_ORG,
								CANT_PROD_ORG_DOP = @LI_CANT_PROD_ORG,
								FACT_CONV_ORG_DOP = @LI_FACT_CONV_ORG 
						WHERE CODIGO_DOP = @LI_CODIGO_TABLA;

						-- Registra Detalles modificados 
						INSERT INTO @LT_DETALLE_PROCESADOS
						SELECT @LI_CODIGO_TABLA;

					END
					ELSE
					BEGIN

						INSERT INTO WM_DETALLE_ORD_PREP(CODIGO_ORP, CODIGO_PRD, CODIGO_DIP, COD_UBIC_ORG_DOP, UBIC_ESNIVEL_ORG_DOP, TEXTO_UBIC_ORG_DOP, CANTIDAD_ORG_DOP, LOTE_ORG_DOP, CODIGO_AGRUPA_DOP, FECHA_VENCI_ORG_DOP, 
										ORDEN_DOP, ESTA_ACTIVO_DOP, FECHA_CREACION_DOP, FECHA_ACTUALIZACION_DOP, RESERVADO_DOP, PORC_APERTURA_DOP, PORC_APERTURA_ORG_DOP,
										CODIGO_PRD_ORG_DOP, CANT_PROD_ORG_DOP, FACT_CONV_ORG_DOP) 
						VALUES (@LI_CODIGO_ORP_CR, @LI_CODIGO_PRD_CR, @LI_CODIGO_DIP, @LI_COD_UBIC_ORG_DOP, @LI_UBIC_ESNIVEL_ORG_DOP, @LS_TEXTO_UBIC_ORG_DOP, 
								@LD_CANTIDAD_ORG_DOP, @LS_LOTE_ORG_DOP, @LS_CODIGO_AGRUPA_DOP, @LD_FECHA_VENCI_ORG_DOP, @LI_ORDEN_DOP, 1, GETDATE(), GETDATE(), @LI_RESERVADO_DOP, 
								@LI_PORC_APERTURA_DOP, @LI_PORC_APERTURA_DOP,
								@LI_CODIGO_PRD_ORG, @LI_CANT_PROD_ORG, @LI_FACT_CONV_ORG);

						
						-- Registra Detalles Insertados
						INSERT INTO @LT_DETALLE_PROCESADOS
						SELECT @@IDENTITY; 

					END;
						

				FETCH NEXT FROM CR_PRODUCTOS_UBICACION INTO 
						@LI_CODIGO_ORP_CR,
						@LI_CODIGO_PRD_CR,
						@LD_CANTIDAD_ORG_DOP,
						@LI_COD_UBIC_ORG_DOP,
						@LI_UBIC_ESNIVEL_ORG_DOP,
						@LS_TEXTO_UBIC_ORG_DOP,	
						@LI_RESERVADO_DOP,  	 
						@LI_ORDEN_DOP,
						@LI_CODIGO_DIP,
						@LS_LOTE_ORG_DOP,
						@LS_CODIGO_AGRUPA_DOP,
						@LD_FECHA_VENCI_ORG_DOP,
						@LI_PORC_APERTURA_DOP,
						@LI_CODIGO_PRD_ORG,
						@LI_CANT_PROD_ORG,
						@LI_FACT_CONV_ORG; 
				END;
  
			  CLOSE CR_PRODUCTOS_UBICACION  
			  DEALLOCATE CR_PRODUCTOS_UBICACION; 
			
			/******************************************* FIN DE REGISTRO UBICACIONES ****************************************/

			/********************* PRODUCTO MASTER SET CODIGOS MASTER VERIFICACION *********************/
			
			IF(ISNULL((SELECT PAR_VALOR FROM SI_PARAMETRO_PRO WHERE PAR_NOMBRE = 'KITS'),'0') = '1' 
			AND (SELECT COUNT(*) FROM @MASTER) > 0
			) BEGIN
					if(@CODIGOS_MASTER is not null) begin
						UPDATE DET_PREP
						SET CODIGO_PRD_MASTER = @CODIGOS_MASTER
						FROM WM_DETALLE_ORD_PREP DET_PREP
						WHERE DET_PREP.CODIGO_DOP 
						= (SELECT TOP 1 CODIGO_DOP 
						FROM WM_DETALLE_ORD_PREP 
						WHERE  CODIGO_ORP = @AI_CODIGO_ORDEN_PREP AND LOTE_ORG_DOP IS NOT NULL);
					end
							/********************* PRODUCTO MASTER SET CANTIDAD SIN KITS VERIFICACION *********************/

						UPDATE DET_PREP
						SET CANTIDAD_SIN_KITS = isnull(CANTIDAD_SIN_KITS_PICK,0)
						FROM WM_DETALLE_ORD_PREP DET_PREP
						INNER JOIN @PRODUCTOS_PICK PICK ON CODIGO_ORP = @AI_CODIGO_ORDEN_PREP AND PICK.CODIGO_PRD = DET_PREP.CODIGO_PRD
						AND PICK.CANTIDAD_SIN_KITS > 0
			END


			/******************************************* REGISTRA PRODUCTOS SIN UBICACION ****************************************/

			--Para los que no poseen ubicacion 
			    DECLARE CR_PRODUCTOS_UBICACION CURSOR FOR   
				SELECT  PRI.CODIGO_ORP,
						PRI.CODIGO_PRD,
						MAX(PRI.CANTIDADPEDIDA) DIFERENCIA,
						NULL COD_UBIC_ORG_DOP,
						NULL UBIC_ESNIVEL_ORG_DOP,
						NULL TEXTO_UBIC_ORG_DOP,	
						0 RESERVADO_DOP, 
						0 ORDEN_DOP,
						NULL CODIGO_DIP,
						'' LOTE_ORG_DOP,
						'' CODIGO_AGRUPA_DOP,
						NULL FECHA_VENCI_ORG_DOP,
						0 PORC_APERTURA_DOP,
						'' CODIGO_PRD_ORG,
						MAX(PRI.CANTIDADPEDIDA) CANT_PROD_ORG,
						0 FACT_CONV_ORG 
				FROM @LT_DETALLEPRODUCTOSINICIAL PRI 
				GROUP BY PRI.CODIGO_ORP,
				PRI.CODIGO_PRD
				
  
				OPEN CR_PRODUCTOS_UBICACION  
				FETCH NEXT FROM CR_PRODUCTOS_UBICACION INTO 
						@LI_CODIGO_ORP_CR,
						@LI_CODIGO_PRD_CR,
						@LD_CANTIDAD_ORG_DOP,
						@LI_COD_UBIC_ORG_DOP,
						@LI_UBIC_ESNIVEL_ORG_DOP,
						@LS_TEXTO_UBIC_ORG_DOP,	
						@LI_RESERVADO_DOP,  	 
						@LI_ORDEN_DOP,
						@LI_CODIGO_DIP,
						@LS_LOTE_ORG_DOP,
						@LS_CODIGO_AGRUPA_DOP,
						@LD_FECHA_VENCI_ORG_DOP,
						@LI_PORC_APERTURA_DOP,
						@LI_CODIGO_PRD_ORG,
						@LI_CANT_PROD_ORG,
						@LI_FACT_CONV_ORG;
  
				WHILE @@FETCH_STATUS = 0 
				BEGIN  
					
					SET @LI_CODIGO_TABLA = 0;

					SELECT TOP(1) @LI_CODIGO_TABLA = CODIGO_DOP FROM WM_DETALLE_ORD_PREP
					WHERE CODIGO_ORP =  @LI_CODIGO_ORP_CR
						AND CODIGO_PRD = @LI_CODIGO_PRD_CR 
						AND ESTA_ACTIVO_DOP = 0
					ORDER BY CODIGO_DOP;
	
					IF(@LI_CODIGO_TABLA > 0)
					BEGIN

						UPDATE WM_DETALLE_ORD_PREP
						SET COD_UBIC_ORG_DOP = @LI_COD_UBIC_ORG_DOP, 
								UBIC_ESNIVEL_ORG_DOP = @LI_UBIC_ESNIVEL_ORG_DOP, 
								TEXTO_UBIC_ORG_DOP = @LS_TEXTO_UBIC_ORG_DOP, 
								CANTIDAD_ORG_DOP = CANTIDAD_ORG_DOP + @LD_CANTIDAD_ORG_DOP,
								LOTE_ORG_DOP = @LS_LOTE_ORG_DOP,
								CODIGO_AGRUPA_DOP = @LS_CODIGO_AGRUPA_DOP,
								FECHA_VENCI_ORG_DOP = @LD_FECHA_VENCI_ORG_DOP,
								ORDEN_DOP = @LI_ORDEN_DOP,
								ESTA_ACTIVO_DOP = 1,
								RESERVADO_DOP = @LI_RESERVADO_DOP,
								PORC_APERTURA_DOP = @LI_PORC_APERTURA_DOP,
								PORC_APERTURA_ORG_DOP = @LI_PORC_APERTURA_DOP,
								FECHA_ACTUALIZACION_DOP = GETDATE(),
								CODIGO_PRD_ORG_DOP = @LI_CODIGO_PRD_ORG,
								CANT_PROD_ORG_DOP = @LI_CANT_PROD_ORG,
								FACT_CONV_ORG_DOP = @LI_FACT_CONV_ORG
						WHERE CODIGO_DOP = @LI_CODIGO_TABLA
						AND NOT EXISTS (SELECT TOP(1) DP.[CODIGO_DOP] FROM [dbo].[WM_DET_ORD_PREP_PICK] DP WHERE DP.[CODIGO_DOP] = WM_DETALLE_ORD_PREP.CODIGO_DOP);

						-- Registra Detalles Insertados
						INSERT INTO @LT_DETALLE_PROCESADOS
						SELECT @LI_CODIGO_TABLA; 

					END
					ELSE
					BEGIN

						INSERT INTO WM_DETALLE_ORD_PREP(CODIGO_ORP, CODIGO_PRD, CODIGO_DIP, COD_UBIC_ORG_DOP, UBIC_ESNIVEL_ORG_DOP, TEXTO_UBIC_ORG_DOP, CANTIDAD_ORG_DOP, LOTE_ORG_DOP, CODIGO_AGRUPA_DOP, FECHA_VENCI_ORG_DOP, 
										ORDEN_DOP, ESTA_ACTIVO_DOP, FECHA_CREACION_DOP, FECHA_ACTUALIZACION_DOP, RESERVADO_DOP, PORC_APERTURA_DOP, PORC_APERTURA_ORG_DOP,
										CODIGO_PRD_ORG_DOP, CANT_PROD_ORG_DOP, FACT_CONV_ORG_DOP) 
						VALUES (@LI_CODIGO_ORP_CR, @LI_CODIGO_PRD_CR, @LI_CODIGO_DIP, @LI_COD_UBIC_ORG_DOP, @LI_UBIC_ESNIVEL_ORG_DOP, @LS_TEXTO_UBIC_ORG_DOP, 
								@LD_CANTIDAD_ORG_DOP, @LS_LOTE_ORG_DOP, @LS_CODIGO_AGRUPA_DOP, @LD_FECHA_VENCI_ORG_DOP, @LI_ORDEN_DOP, 1, GETDATE(), GETDATE(), @LI_RESERVADO_DOP,
								@LI_PORC_APERTURA_DOP, @LI_PORC_APERTURA_DOP,
								@LI_CODIGO_PRD_ORG, @LI_CANT_PROD_ORG, @LI_FACT_CONV_ORG); 

						-- Registra Detalles Insertados
						INSERT INTO @LT_DETALLE_PROCESADOS
						SELECT @@IDENTITY; 

					END;
						

				FETCH NEXT FROM CR_PRODUCTOS_UBICACION INTO 
						@LI_CODIGO_ORP_CR,
						@LI_CODIGO_PRD_CR,
						@LD_CANTIDAD_ORG_DOP,
						@LI_COD_UBIC_ORG_DOP,
						@LI_UBIC_ESNIVEL_ORG_DOP,
						@LS_TEXTO_UBIC_ORG_DOP,	
						@LI_RESERVADO_DOP,  	 
						@LI_ORDEN_DOP,
						@LI_CODIGO_DIP,
						@LS_LOTE_ORG_DOP,
						@LS_CODIGO_AGRUPA_DOP,
						@LD_FECHA_VENCI_ORG_DOP,
						@LI_PORC_APERTURA_DOP,
						@LI_CODIGO_PRD_ORG,
						@LI_CANT_PROD_ORG,
						@LI_FACT_CONV_ORG;
				END;
  
			  CLOSE CR_PRODUCTOS_UBICACION  
			  DEALLOCATE CR_PRODUCTOS_UBICACION; 

			/******************************************* FIN REGISTRA PRODUCTOS SIN UBICACION ****************************************/
			  
			---------------------------------------------------  Reasiganación de Tareas --------------------------------------------------				 
		/*
		BEGIN -- Region Reasiganación de Tareas
				DECLARE 
					@LI_CODIGO_USUARIO INT, 
					@LI_POSEEEQUIPO   INT,
					@LI_USUARIO_PICKING INT = 0,
					@LI_USUARIO_MONTACARGAS INT = 0;


				-- Usuarios Activos y asignados a la orden
				DECLARE CR_USUARIOS CURSOR
				FOR SELECT TU.CODIGO_USR, (SELECT COUNT(EU.CODIGO_USR) FROM WM_EQUIPO_USUARIO EU WHERE EU.CODIGO_USR = TU.CODIGO_USR AND EU.ESTAACTIVO_EUS = 1) POSEEEQUIPO
					FROM OP_ORDEN_TAR_USUARIO DI WITH(NOLOCK)
					INNER JOIN OP_ORDEN_TAR_ASIG_USR TU ON TU.CODIGO_OTU = DI.CODIGO_OTU 
					WHERE DI.CODIGO_ORD_OTU = @LI_CODIGO_ORDEN 
					AND DI.CODIGO_TIO IS NULL  
					AND DI.CODIGO_TPT = 3
					AND ESTAACTIVO_TUU = 1
					AND (TU.CODIGO_ETT < 3   ----  3 Finalizada
						OR TU.CODIGO_ETT > 4);   ----  4 No realizada

				OPEN CR_USUARIOS;

				FETCH NEXT FROM CR_USUARIOS INTO 
					@LI_CODIGO_USUARIO, 
					@LI_POSEEEQUIPO;

				WHILE @@FETCH_STATUS = 0
				BEGIN

						-- Asignación a primer usuario de Picking
						IF(@LI_POSEEEQUIPO <= 0 AND @LI_USUARIO_PICKING = 0)
						BEGIN 
								SET @LI_USUARIO_PICKING = 1;
								 
								--Procesa Detalles Actualziados o Insertados
								MERGE WM_DET_ORD_PREP_ASIG_US AS target  
								USING (SELECT DISTINCT CODIGO_DOP FROM(
													SELECT DP.CODIGO_DOP FROM WM_DETALLE_ORD_PREP DP
													INNER JOIN @LT_DETALLE_PROCESADOS DPR ON DPR.CODIGO_DETALLE = DP.CODIGO_DOP
													INNER JOIN [dbo].[SI_NIVEL] N ON N.[CODIGO_NIV] = DP.COD_UBIC_ORG_DOP
																				AND DP.[UBIC_ESNIVEL_ORG_DOP] = 1
																				AND N.CODIGO_TUB = 1
													WHERE DP.CODIGO_ORP = @LI_CODIGO_ORDEN
													AND DP.ESTA_ACTIVO_DOP = 1
													UNION 
													SELECT DP.CODIGO_DOP FROM WM_DETALLE_ORD_PREP DP
													INNER JOIN @LT_DETALLE_PROCESADOS DPR ON DPR.CODIGO_DETALLE = DP.CODIGO_DOP
													INNER JOIN [dbo].SI_DIVISION D ON D.[CODIGO_DIV] = DP.COD_UBIC_ORG_DOP
																				AND DP.[UBIC_ESNIVEL_ORG_DOP] = 0
													INNER JOIN [dbo].[SI_NIVEL] N ON N.[CODIGO_NIV] = D.[CODIGO_NIV]
																			      AND N.CODIGO_TUB = 1
													WHERE DP.CODIGO_ORP = @LI_CODIGO_ORDEN
													AND DP.ESTA_ACTIVO_DOP = 1
										) AS TABLA) AS source 
								ON (target.CODIGO_DOP = source.CODIGO_DOP
									)  
								WHEN MATCHED THEN
									UPDATE SET target.CODIGO_USR = case when target.ESTAACTIVO_DAU = 0 or target.FINALIZADAO_DAU = 1 then @LI_CODIGO_USUARIO else target.CODIGO_USR end,   
												target.CODIGO_USR_ASIG = case when target.ESTAACTIVO_DAU = 0 or target.FINALIZADAO_DAU = 1 then 
																				CASE WHEN @AI_CODIGO_USUARIO_PROC > 0 THEN @AI_CODIGO_USUARIO_PROC ELSE @LI_CODIGO_USUARIO END
																		else target.CODIGO_USR_ASIG end,
												target.ESTAACTIVO_DAU = 1,
												target.FINALIZADAO_DAU = 0,
												target.FECHAACTUALIZACION_DAU = getdate()
								WHEN NOT MATCHED THEN  
									INSERT (CODIGO_DOP, CODIGO_USR, CODIGO_USR_ASIG, ESTAACTIVO_DAU, LEIDOS_DAU, FINALIZADAO_DAU, FECHACREACION_DAU, FECHAACTUALIZACION_DAU)  
									VALUES (source.CODIGO_DOP, @LI_CODIGO_USUARIO, (CASE WHEN @AI_CODIGO_USUARIO_PROC > 0 THEN @AI_CODIGO_USUARIO_PROC ELSE @LI_CODIGO_USUARIO END), 1, 0, 0, GETDATE(), GETDATE());
								 
						END
						ELSE
						BEGIN 

							-- Asignación a primer usuario con Montacargas

							IF(@LI_POSEEEQUIPO > 0 AND @LI_USUARIO_MONTACARGAS = 0)
							BEGIN 
								SET @LI_USUARIO_MONTACARGAS = 1;

								MERGE WM_DET_ORD_PREP_ASIG_US AS target  
								USING (SELECT DISTINCT CODIGO_DOP FROM(
													SELECT DP.CODIGO_DOP FROM WM_DETALLE_ORD_PREP DP
													INNER JOIN @LT_DETALLE_PROCESADOS DPR ON DPR.CODIGO_DETALLE = DP.CODIGO_DOP
													INNER JOIN [dbo].[SI_NIVEL] N ON N.[CODIGO_NIV] = DP.COD_UBIC_ORG_DOP
																				AND DP.[UBIC_ESNIVEL_ORG_DOP] = 1
																				AND N.CODIGO_TUB = 2
													WHERE DP.CODIGO_ORP = @LI_CODIGO_ORDEN
													AND DP.ESTA_ACTIVO_DOP = 1
													UNION 
													SELECT DP.CODIGO_DOP FROM WM_DETALLE_ORD_PREP DP
													INNER JOIN @LT_DETALLE_PROCESADOS DPR ON DPR.CODIGO_DETALLE = DP.CODIGO_DOP
													INNER JOIN [dbo].SI_DIVISION D ON D.[CODIGO_DIV] = DP.COD_UBIC_ORG_DOP
																				AND DP.[UBIC_ESNIVEL_ORG_DOP] = 0
													INNER JOIN [dbo].[SI_NIVEL] N ON N.[CODIGO_NIV] = D.[CODIGO_NIV]
																			AND N.CODIGO_TUB = 2
													WHERE DP.CODIGO_ORP = @LI_CODIGO_ORDEN
													AND DP.ESTA_ACTIVO_DOP = 1
										) AS TABLA) AS source 
								ON (target.CODIGO_DOP = source.CODIGO_DOP
									)  
								WHEN MATCHED THEN
									UPDATE SET target.CODIGO_USR = case when target.ESTAACTIVO_DAU = 0 or target.FINALIZADAO_DAU = 1 then @LI_CODIGO_USUARIO else target.CODIGO_USR end,   
											   target.CODIGO_USR_ASIG = case when target.ESTAACTIVO_DAU = 0 or target.FINALIZADAO_DAU = 1 then 
																				CASE WHEN @AI_CODIGO_USUARIO_PROC > 0 THEN @AI_CODIGO_USUARIO_PROC ELSE @LI_CODIGO_USUARIO END
																		else target.CODIGO_USR_ASIG end,
											   target.ESTAACTIVO_DAU = 1,
											   target.FINALIZADAO_DAU = 0,
											   target.FECHAACTUALIZACION_DAU = getdate()
								WHEN NOT MATCHED THEN  
									INSERT (CODIGO_DOP, CODIGO_USR, CODIGO_USR_ASIG, ESTAACTIVO_DAU, LEIDOS_DAU, FINALIZADAO_DAU, FECHACREACION_DAU, FECHAACTUALIZACION_DAU)  
									VALUES (source.CODIGO_DOP, @LI_CODIGO_USUARIO, (CASE WHEN @AI_CODIGO_USUARIO_PROC > 0 THEN @AI_CODIGO_USUARIO_PROC ELSE @LI_CODIGO_USUARIO END), 1, 0, 0, GETDATE(), GETDATE());

							END
						END

						FETCH NEXT FROM CR_USUARIOS INTO 
							@LI_CODIGO_USUARIO, 
							@LI_POSEEEQUIPO;
				END;

				CLOSE CR_USUARIOS;

				DEALLOCATE CR_USUARIOS;
				 
		 
				--Inactiva detalle no validos para Operadores

				MERGE WM_DET_ORD_PREP_ASIG_US AS target  
				USING (SELECT DISTINCT CODIGO_DOP FROM(
									SELECT DP.CODIGO_DOP FROM WM_DETALLE_ORD_PREP DP
									WHERE DP.CODIGO_ORP = @LI_CODIGO_ORDEN
									AND DP.ESTA_ACTIVO_DOP = 0									 
						) AS TABLA) AS source 
				ON (target.CODIGO_DOP = source.CODIGO_DOP
					)  
				WHEN MATCHED THEN
					UPDATE SET  target.ESTAACTIVO_DAU = 0;
			
			END -- Region Reasiganación de Tareas	
			*/
			Exec SP_ASIG_AUTO_UBI_ORD_PREP  @AI_CODIGO_SUBEMPRESA ,@AI_CODIGO_BODEGA, @LI_CODIGO_ORDEN

			
			---------------------------------------------------  FIN Reasiganación de Tareas --------------------------------------------------

	    /*
		SELECT @LI_CODIGO_ORDEN;
		SELECT * FROM @LT_DETALLE_PROCESADOS
		*/
 

		--FETCH NEXT FROM CR_ORDENES INTO @LI_CODIGO_ORDEN  
  --      END  
  
  --  CLOSE CR_ORDENES  
  --  DEALLOCATE CR_ORDENES  

		Set @in_fechaFin = GETDATE()
		print @in_fechaFin
		set @serverName = (SELECT HOST_NAME())
		set @filasafectadas = cast((select datediff(ss,@in_fechaInicio, @in_fechaFin)) as NVARCHAR(50))

		INSERT INTO SI_AUDITORIA ( CODIGO_USR, NOMBREMAQUINA, FECHAINICIOLOGEO, FECHAFINLOGEO, FECHASENTENCIA, SENTENCIA, FILASAFECTADAS, AUXILIAR1, AUXILIAR2, TIEMPOEJECUCION)
					VALUES(@AI_CODIGO_USUARIO_PROC,@serverName,GETDATE(),GETDATE(),GETDATE(),@sentencia, @@ROWCOUNT,'','',@filasafectadas)

		END TRY
		BEGIN CATCH
			DECLARE @in_error INT
			SELECT @in_error = ERROR_NUMBER()
			IF LEN(@in_error)<>0
		--	SELECT ERROR_MESSAGE(), ERROR_LINE();
			begin
				
					INSERT INTO SI_AUDITORIA ( CODIGO_USR, NOMBREMAQUINA, FECHAINICIOLOGEO, FECHAFINLOGEO, FECHASENTENCIA, SENTENCIA, FILASAFECTADAS, AUXILIAR1, AUXILIAR2, TIEMPOEJECUCION)
					VALUES(@AI_CODIGO_USUARIO_PROC,'',@in_fechaInicio,@in_fechaFin,GETDATE(),@sentencia, @@ROWCOUNT,@in_error,'',@filasafectadas)
			END
		END CATCH

END;

